[2020-03-14 03:54] huddlej commented on #203
Resolved by new augur export v2 interface.

[2020-03-14 03:54] #203 closed

[2020-03-14 04:20] huddlej commented on #215
Revisiting this issue after the augur v6 updates to how auspice JSONs are exported and the original issue with conflicting key names in metadata and node JSONs remains.

The [current implementation for merging metadata and node JSONs for augur v2 export explicitly overwrites the keys in the metadata](https://github.com/nextstrain/augur/blob/904ed6d/augur/export_v2.py#L809-L815). This can result in

[2020-03-14 04:30] huddlej commented on #9
@trvrb Has this S3 versioning of per-pathogen data been sufficiently resolved by the YYYY-MM-DD naming approach adopted for https://github.com/nextstrain/ncov or do you hope for more future development here?

[2020-03-14 04:32] huddlej commented on #279
Closed by #281

[2020-03-14 04:32] #279 closed

[2020-03-14 04:53] huddlej commented on #244
One potential implementation of and/or conditionals on the CLI would take advantage of pandas' built-in [query method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html) for data frames. This method allows the caller to specify a string query with any number of boolean tests. We could implement the `--filter-where` argument to pass a query that will filter the

[2020-03-14 05:22] huddlej commented on #273
This issue still isn't completely resolved after the augur v6 upgrade. Although users can omit metadata from the `augur export v2` command, augur still prints "ERROR: read_metadata called without a filename". The [corresponding code in `augur/utils.py`](https://github.com/nextstrain/augur/blob/904ed6d/augur/utils.py#L76) needs to be updated to output a warning instead.

Also, at least one node dat

[2020-03-14 05:42] huddlej commented on #267
@wqshi As of [augur 5.3.0](https://github.com/nextstrain/augur/releases/tag/5.3.0) we added support for passing custom arguments to the underlying tree inference software associated with your chosen `--method`. This allows you to run IQ-TREE with any arguments you like. For example, you can run standard non-parametric bootstrapping with 200 replicates like so:

[code]

The final output Newick file

[2020-03-14 05:42] #267 closed

[2020-03-14 19:37] pvanheus opened #453 "list indices must be integers or slices, not float error"
When processing GISAID SARS-CoV-2 sequences, I encountered the following error:

[code]

examining the value of `pos` in the relevant [line](https://github.com/nextstrain/augur/blob/master/augur/clades.py#L73) I discovered that it was `250.0`. I thus put a `pos = int(pos)` before this line, which seems to resolve the error. Is there perhaps a division somewhere that used to yield an `int` in Pytho

[2020-03-14 19:57] emmahodcroft commented on #453
Can you pull the latest ncov version and run? There was an error where the clades file had spaces instead of tabs as separators and this was giving me an error this morning. It should be resolved now.

[2020-03-14 22:16] pvanheus commented on #453
Thanks, updating to the latest `ncov` fixes this problem.

[2020-03-14 22:16] #453 closed

[2020-03-14 22:41] huddlej commented on #132
@DasuberVetLeonidas Since augur's command line interface has changed substantially in the last two years, I'm going to close this issue as outdated. However, if you are still working with Nextstrain for your pathogen builds, please check out [the latest tutorial for creating a virus build](https://nextstrain-augur.readthedocs.io/en/stable/tutorials/zika_tutorial.html).

If you have upgraded your b

[2020-03-14 22:41] #132 closed

[2020-03-14 23:01] huddlej commented on #96
This issue seems to be resolved in the latest modular augur builds. The current Zika build uses `choose_genbank` for the [download rule](https://github.com/nextstrain/zika/blob/9e50fe2/Snakefile#L29) and uses the explicit `--reference-sequence` flag for the [alignment rule](https://github.com/nextstrain/zika/blob/9e50fe2/Snakefile#L85-L103). This results in the correct `PF13/251013_18` sequence pa

[2020-03-14 23:01] #96 closed

[2020-03-14 23:12] huddlej commented on #153
This was closed by #157

[2020-03-14 23:12] #153 closed

[2020-03-14 23:17] huddlej commented on #179
Closing this issue as it was initially addressed by #190.

More specific filters on metadata are discussed in issue #244.

[2020-03-14 23:17] #179 closed

[2020-03-14 23:48] huddlej commented on #201
It seems like the specific issue with `augur tree` might have been closed by [renaming the temp file output for IQ-TREE](https://github.com/nextstrain/augur/commit/7137b36f83d22c410bbdf4eac83b26f12e3e5b2e) and maybe by [renaming the log output](https://github.com/nextstrain/augur/commit/d82f8b7010a349957270c1b6df1e29abc1f98338#diff-fee0b033dec1c65b2a3d4542a49b0a45). It also looks like augur tree n

[2020-03-14 23:48] #201 closed

[2020-03-15 00:44] trvrb opened #454 "Reference sequence not removed when calling augur align"
This should be able to be replicated by running `snakemake -p results/aligned.fasta` in https://github.com/nextstrain/ncov.

This calls `augur align` with `--remove-reference`. However, reference `MN908947` still appears in output.

This is also replicated by running the same set of commands from https://github.com/nextstrain/zika, wherein `PF13/251013_18` still appears in `results/aligned.fasta`.

[2020-03-16 20:47] sidneymbell commented on #450
Closing as it's a duplicate of [this more comprehensive issue](https://github.com/nextstrain/nextstrain.org/issues/128)

[2020-03-16 20:47] #450 closed

[2020-03-17 00:07] MarHayat opened #457 "augur align warning with --reference-sequence"
Hello,

I keep getting warning while using augur align to align a set of sequences with the reference "reference_h3n2_ha.gb". The warning is:
WARNING: Cannot read reference sequence.
	make sure the file ~/reference_h3n2_ha.gb  does not exist
The command is:
python3 -m augur align --sequences ~/Data/final_data.fasta --reference-sequence ~/Data/reference_h3n2_ha.gb  --fill-gaps

Can you please let m

[2020-03-18 17:58] godotgildor commented on #454
I'm having trouble reproducing this using the Zika example.

If I run:
`snakemake -p results/aligned.fasta --cores`
 in the zika repository, looking in the `results/aligned.fasta` I do not see an entry for `PF13/251013-18`.

If I edit the `Snakefile` to remove the `--remove-reference` and then run
`snakemake -p results/aligned.fasta --cores`
the resulting `results/aligned.fasta` includes the entry

[2020-03-19 17:39] danielsoneg commented on #72
I’ll take a look at this today.

Assuming this applies primarily to `augur tree` and assuming it should be done to input to all tree-ing commands, not just RAXML so we’re not creating spurious relationships based on bad characters.

[2020-03-20 01:31] danielsoneg commented on #72
Alright, that was a bit interesting.

Code's up - a bit of refactoring, but not a huge amount of change all said and done.

Two things I noticed while working on this -
1. Noted this in the pull as well, but in the example above, IRLH - R and H are valid codes by the link above, so the resulting mask is NRNH - I don't know how the treeing works, but this may still produce spurious variations.

2.

[2020-03-20 01:36] danielsoneg commented on #457
Hey @MarHayat , two quick things -
First, looks like you're using an older version of augur - might be worth an update.

Second - that error means that augur can't find the filename you passed to `--reference-sequence` - check you've got the correct path for that file.

[2020-03-20 18:49] huddlej commented on #454
@godotgildor The Zika issue only occurs with the full Zika build and not with the tutorial build. [See the complete description of this issue](https://github.com/nextstrain/augur/pull/456#issuecomment-601476915) for more details.

[2020-03-21 23:30] MarHayat commented on #457
@danielsoneg Thanks!
First, I have updated it, and now I am working with version 6.4.2.
Second, I am sure about the path and it is correct.
with this new version I got this error:
ERROR: Cannot read reference sequence.
	make sure the file "reference_h3n2_ha.gb " exists
Is there any restriction on the size of the data? I have around 63000 sequences.

[2020-03-22 01:54] danielsoneg commented on #457
No, that error solely indicates that the path for the reference sequence file is incorrect. Make sure you're passing the full and correct path to `--reference-sequence` (and you may want to put the path in quotes as well)

[2020-03-22 05:37] MarHayat commented on #457
I checked the path several times and I am sure that it is correct. Both the reference sequence and the sequences "final_data.fasta" are in the same directory. It can read the "final_data.fasta" but cannot find the reference sequence.

[2020-03-22 16:44] danielsoneg commented on #457
So the code path that generates that error is just checking whether the path given is a file - from [augur/augur.align:](https://github.com/nextstrain/augur/blob/master/augur/align.py#L165-L168)
[code]
Per the [python docs](https://docs.python.org/3.5/library/os.path.html#os.path.isfile), `os.path.isfile` returns true if the file is an "existing regular file."

That function gets passed the suppli

[2020-03-22 21:12] MarHayat commented on #457
initially, the reference file was in another directory then I moved it in the same directory as the sequences. I tried to put both files in a new directory but I got the same error. Now, I am going to run it on another system to see if it works or not.

[2020-03-23 14:28] philippmuench opened #460 "augur export example in zika tutorial now working"
I followed the tutorial from [here](https://nextstrain.org/docs/tutorials/zika/) and on the `augur export` step I get an the error (augur 6.4.2)

[code]

when using `augur export v2` I dont see the option to export both, the tree and the metadata which I would need to start `nextstrain view`. I also tried to download the datasets directly e.g. from [http://data.nextstrain.org/ncov.json](http://dat

[2020-03-23 18:32] huddlej commented on #460
@philippmuench Thank you for catching this. We already have [an open issue for this bug on the nextstrain.org repository](https://github.com/nextstrain/nextstrain.org/issues/83).

You can find the [correct documentation for the tutorial in the augur documentation](https://nextstrain-augur.readthedocs.io/en/latest/tutorials/zika_tutorial.html).

[2020-03-23 18:32] #460 closed

[2020-03-23 22:45] tolot27 opened #462 "fill_gaps without reference name"
I wonder whether [`make_gaps_ambiguous`](https://github.com/nextstrain/augur/blob/9d95ec71c12062ebc5506bbc2b6a17540a6b247b/augur/align.py#L108) works correctly, if no reference (strain) name is provided to `augur align`. The referenced code looks like as if `seqs` still contains the original sequences or an existing alignment but not the newly generated alignment generated in line 91.

Please can

[2020-03-23 22:56] tolot27 commented on #462
If neither `--reference-sequence` nor `--reference-name` is provided to `augur align`, the following error is thrown:

[code]

[2020-03-23 23:02] tolot27 commented on #462
I suggest that `write_uppercase_alignment_in_place` returns the alignment without writing on it back to disk. Than `strip_non_reference` and `make_gaps_ambiguous` can "act" on it and in a last step it is written back using `write_seqs(seqs, args.output)`.
In between, I can rename autoadjusted sequences as mentioned in https://github.com/nextstrain/ncov/issues/252.

[2020-03-24 06:13] MarHayat commented on #457
Ok, it seems that the problem is with my system since it works in another system. Thanks for your help.

[2020-03-24 19:41] sidneymbell opened #464 "Want to contribute? Welcome! Please start here."
**Please see our [Contributor Guide](https://github.com/nextstrain/.github/blob/master/CONTRIBUTING.md) and [project boards](https://github.com/orgs/nextstrain/projects) to get started!**

[2020-03-24 19:50] Zsailer commented on #464
Just to let y'all know... we've added Augur to a new open-source initiative: [The COVID-19 Open-source Helpdesk](https://covid-oss-help.org/).

This is a group of core developers for scipy, numpy, pandas, scikit-learn, bioconda, matplotlib, etc. looking for ways to support scientists working on SARS-CoV-2.

See the relevant post here: https://discourse.covid-oss-help.org/t/helping-nextstrain/284

[2020-03-24 19:53] Zsailer commented on #438
Apologies for the shameless plug here... [PhyloPandas](https://github.com/Zsailer/phylopandas) might be something Augur (or neighboring projects) might find beneficial.

It's essentially a Pandas DataFrame for phylogenetics. You can quickly convert between sequence/tree formats. You can even merge sequence + tree data in a single dataframe. It provides all the benefits for Pandas' API while offeri

[2020-03-24 20:19] huddlej commented on #462
@tolot27 Thank you for catching these issues! Are you interested in tackling a solution? If so, I will assign this issue to you, so we know someone is looking into it.

[2020-03-24 20:21] tolot27 commented on #462
Yes, of course!

[2020-03-24 20:37] huddlej commented on #464
Thank you, @Zsailer! One way we're starting to optimize augur is by improving test coverage. There have been [some efforts in that direction](https://github.com/nextstrain/augur/pull/463) and it would be amazing to get help with this from additional experts in Python scientific computing.

[2020-03-24 21:08] tolot27 opened #465 "reduce number of iterations over aligned sequences"
This issue is extracted from the original post in https://github.com/nextstrain/augur/issues/462#issuecomment-602903918_ and should address a slightly increasing performance degradation:

Iterating over all aligned sequences three times, modifying it (uppercasing, gap replacement) and writing it to disk is maybe slow for large alignments and wastes I/O. A fourth iteration was recently added with c

[2020-03-24 22:58] willingc commented on #457
@huddlej @danielsoneg Looks like this issue is resolved and can be closed.

[2020-03-24 23:03] willingc commented on #413
@tacaswell FYI This issue will likely benefit from your work re: datrie https://github.com/pytries/datrie/pull/78#issuecomment-603545922

[2020-03-24 23:18] tolot27 commented on #454
@godotgildor Please can you rerun your test with the most recent version? The issue should be fixed now.

[2020-03-25 00:42] huddlej commented on #457
Thanks for the head's up, @willingc! Closing now.

[2020-03-25 00:42] #457 closed

[2020-03-25 00:50] huddlej commented on #454
The solution to Trevor's original issue is partially data-dependent. A fix that would help from the augur side, though, is to change the name field used for reference sequences from `id` to `name`. This would be a breaking change in the sense that any build out in the world that relies on the GenBank record's id instead of name would break. However, this change would also avoid the kind of issue T

[2020-03-25 01:22] tacaswell commented on #413
If you are willing to install from conda-forge, you can get datrie for py38 for all platforms now.

[2020-03-25 01:30] groutr commented on #465
I would like to work on this issue. Is there a input file that would be good to benchmark/profile things with?

[2020-03-25 14:25] willingc opened #472 "Improve performance of CLI start"
**Context**
Currently on MacOS 10.15.3, the CLI is slow to display after typing `augur`.

**Description**
Investigate if there is an optimization that can be made.

[2020-03-25 15:30] willingc opened #473 "Update the conda channels list in environment.yml"
**Context**
Updating the order of the channels in the `environment.yml` would help prevent spurious errors. See discussion in #470

**Description**
Reorder the channels to the order suggested here: https://github.com/nextstrain/augur/pull/470#issuecomment-603879821

[2020-03-25 19:28] willingc opened #475 "Deprecate Python 3.4, 3.5 and add 3.6 as minimum supported version"
**Context**
Python 3.4 has reached end-of-life, and Python 3.5 is security fixes only.

NumPy in its next release will drop support for Python 3.5. [ref](https://numpy.org/neps/nep-0029-deprecation_policy.html)

Moving to Python 3.6 as the minimum version enables use of f-strings which simplify formatting of strings and allows asyncio.

**Description**
Deprecate or drop Python 3.4 and 3.5 support.

[2020-03-25 19:42] willingc opened #476 "Add unit tests and increase coverage"
**Context**
Let's give this great project more test coverage. 💯

**Description**
If we **divide and conquer**, we should be able to increase test coverage significantly.

Here's a list of Python files which could benefit from tests or additional tests:

- [ ] align.py - groutr
- [ ] ancestral.py - vanguard737
- [ ] clades.py - willingc
- [ ] distance.py - dharrison-salesforce
- [ ] export.py - 4ru

[2020-03-25 21:02] groutr commented on #476
I can work on align.py. I've been reviewing that file for most of the day now.

[2020-03-25 22:45] elebow commented on #476
I'll take a stab at `filter.py`.

[2020-03-26 02:55] jameshadfield opened #480 "Add testing guide"
Could we (perhaps @willingc or @huddlej) add a section to DEV_DOCS about how tests should be implemented, and point to general best practices? (Or create a README in `./tests`). There's been a lot of help with augur over the past few days and it'd be good to have a high level summary of how testing should be implemented

From my point of view, encouraging tests which cover the `augur` shell comman

[2020-03-26 03:26] willingc commented on #480
Hi @jameshadfield, I can take a look at this in the morning.

[2020-03-26 17:24] tacaswell commented on #475
I am :+1: on this from a policy position and suggest following https://numpy.org/neps/nep-0029-deprecation_policy.html .

I will open a PR with the required metadata / setup.py / CI changes.

[2020-03-26 19:21] tacaswell commented on #413
datrie 0.8.2 is now an pypi (with wheels for all platforms) and will install on py38.  This issue can be closed.

[2020-03-26 19:23] groutr opened #483 "[Feature request] Bump pandas version to >=1.0.0"
Currently pandas version is locked to `>=0.20.0, ==0.*`. I think it would be a very good idea to bump the min version to at least pandas 1.0.0. Starting with 1.0.0, pandas will follow a variation of SemVer (https://pandas.pydata.org/pandas-docs/stable/development/policies.html#policies-version)

Looking thru the source code, most of the uses of pandas are to read csv files. There are some uses for

[2020-03-26 21:55] jameshadfield commented on #413
Tested & working via install into a py38 conda environment. Thanks all!

[2020-03-26 21:55] #413 closed

[2020-03-26 23:31] #480 closed

[2020-03-26 23:49] huddlej commented on #476
Thank you all for signing up to write tests!

In addition to unit tests for individual functions in each module, it would be amazing to have tests for the command line interfaces of major augur modules, too. For example, the `filter.py` module is also accessible from the command line like so:

[code]

Testing this type of interface reveals issues with the entire module's data flow even if all of t

[2020-03-27 01:02] willingc commented on #476
Absolutely @huddlej. We should be enabling coverage on CI which will indicate for each PR the increase in test coverage by file and by PR :sunny:

[2020-03-27 01:12] willingc opened #485 "Add coverage tool for pytest and enable codecov service"
We've successfully used pytest's coverage tool, coverage, and codecov with Travis CI or CircleCI. This will help automate the testing process and give feedback to contributors on each PR.

As an example, many of the Juptyer projects use this approach.

[2020-03-27 01:30] jameshadfield commented on #476
In addition to unit tests for each of the python files above (which are great) it would be amazing to have an example of a test of the actual CLI command itself (e.g. see [this comment](https://github.com/nextstrain/augur/pull/481#issuecomment-604688160) & [this comment](https://github.com/nextstrain/augur/pull/481#issuecomment-604737132)). There are a number of invocations of each command within

[2020-03-27 04:50] groutr commented on #472
@willingc I'll dig into this.

[2020-03-27 06:06] jasongrout commented on #472
Just curious, are you seeing it being slow on Linux too?

[2020-03-27 06:10] groutr commented on #472
I guess the question is how slow is "slow"? Running my processor at 2.4Ghz, it takes 1.073s to run `augur`.  How slow it is on Mac OS?

If my laptop processor is running with dynamic frequency scaling, the `augur` command can take between 1.5-2s.

[2020-03-27 06:11] groutr commented on #472
I notice that `augur` imports the entire library every time it is run.
https://github.com/nextstrain/augur/blob/master/augur/__init__.py#L40

[2020-03-27 14:45] willingc commented on #472
The specific start case that I was seeing was typing `augur` with no options after. It takes a long time on my Mac to present any information.

[2020-03-27 14:55] groutr commented on #472
@willingc can you post the output of `time <augur command>`?

[2020-03-27 16:57] willingc commented on #472
Hi @groutr,

Whelp in true software fashion it's not slow today. lol

Here's the output requested: `augur  0.94s user 0.18s system 114% cpu 0.983 total`

If you want feel free to close now.

[2020-03-27 18:54] danielsoneg commented on #148
Per conversation in #72, I'm taking a look at this today

[2020-03-27 19:48] mgalardini opened #489 "[BUG] nt_muts.json might miss some variants?"
Hi, thanks for this excellent piece of work! I am submitting what I think is a bug report, though it is possibly me not understanding the intended output of `augur ancestral`

**Current Behavior / Steps to Reproduce**
Using today's GISAID ncov sequences (1541 filtered sequences) I ran the ncov pipeline until the `ancestral` step.

[code]

I then compared the positions reported in `nt_muts.json` wi

[2020-03-27 20:30] emmahodcroft commented on #489
Just as a guess, this could be caused by 'reconstructing' ambiguous sites. So in 'masked.fasta' a column that's `YCCC` will be marked variable, I believe. But during `ancestral` the ambiguous base `Y` will be resolved to be `C` (if that's the only other base in this column), so then it will be `CCC` so then it won't be a variable site anymore.

In this case, the ambiguous base `Y` stands for eithe

[2020-03-27 20:47] mgalardini commented on #489
Great idea! Indeed, if the criteria to call a column "variable" is restricted to the `AGCT` chars alone the discrepancy is lower (but still there):

[code]
Output; `1264 1316`

I looked into two positions that are not in the `nt_muts.json` and they seem to have a snp in there:

`set(a[:, 778])` -> `{'C', 'G', 'N'}`
`set(a[:, 579])` -> `{'A', 'N', 'T'}`

These are all the position that are supposed

[2020-03-27 23:47] dkain commented on #476
I can start with `parse.py`

[2020-03-28 01:04] #462 closed

[2020-03-28 01:22] #475 closed

[2020-03-28 03:41] jasongrout commented on #472
As another data point, on macOS 2.4 GHz Intel Core i5: `augur  1.27s user 0.23s system 106% cpu 1.415 total`

[2020-03-28 04:56] groutr commented on #472
Thanks @willingc and @jasongrout.  I'm going to experiment with restructuring the cli to import things lazily.

[2020-03-28 20:33] anouarh commented on #476
I can work on `validate.py`

[2020-03-28 22:33] groutr commented on #472
Looks like the help pages are probably the worst case scenario.  However, I would argue that if the help pages aren't fast, it gives the impression that the program itself is slow.

Fortunately, the help pages are easy to speed up. I was able to drop the time from >1s to about  < .1s on my machine.
The benefit of this reorganization is that we only import that is needed instead of all of them.

[2020-03-28 22:42] groutr commented on #472
Example
[code]
[code]

[2020-03-29 21:58] cgtopher commented on #476
I can start on `tree.py`

[2020-03-29 23:40] terrycojones opened #497 "[BUG] AttributeError can be thrown by the run function in augur/traits.py"
I'm running the Snakemake pipeline from the Zika demo on some data of my own. In my metadata I have a `region` column (as in the Zika dataset) but the 79 entries in the file all have the same region value (Europe).  I get the below Exception thrown on the `traits` rule (which calls `augur traits`). The
`columns` parameter is "region country" (as for the Zika example). So I can probably fix this by

[2020-03-30 00:24] terrycojones opened #498 "[BUG] UTF-8 in the --augur-config file causes UnicodeDecodeError exception"
If the config file contains (non-ASCII) UTF-8 you get this:

[code]

Pull request coming up...

[2020-03-30 00:48] terrycojones opened #500 "[BUG] run_tests.sh looks like it is missing a call to shift"
`run_tests.sh` has this:

[code]

which looks like it should be

[code]

Otherwise the `-k` gets passed in the `"$@"` at bottom.

Anyway, all that processing could go away and you could just let people put `--no-cov` on the command line.  Maybe this script isn't used any more. I get an error no matter how I run it. E.g.,

[code]

[2020-03-30 01:05] elebow commented on #500
`-k` is actually an argument to `pytest`, so it is supposed to be passed through to the `"$@"` below. The script only detects whether it is present, and consequently adds additional arguments to pytest.

`run_tests.sh` was just intended to be a convenience tool. Invoking `python -m pytest` directly and passing `--no-cov` is certainly an option for those who prefer it.

---

The error you see appea

[2020-03-30 04:24] St4rz commented on #295
Hi, newcomer here. I think this issue can be closed now as I see the link to the semver.org homepage linked in [DEV_DOCS.md](https://github.com/nextstrain/augur/blob/master/DEV_DOCS.md):

[2020-03-30 04:29] jameshadfield commented on #295
Agreed. We still need to discuss what counts as "private" functions, and therefore what constitutes a breaking API change, but that's raised in some other issues and isn't what this issue targeted.

[2020-03-30 04:29] #295 closed

[2020-03-30 05:23] St4rz commented on #476
I'll start on version.py.

[2020-03-30 07:49] terrycojones commented on #500
Hi @elebow - thanks for the reply!

Ah, ok, got it.

[code]

Thanks again!

[2020-03-30 08:24] terrycojones opened #502 "[BUG] Non-ASCII in place names in the lat/long file result in a UnicodeDecodeError"
Passing a file with non-ASCII as the argument to `--lat-longs` in calling `augur export` results in

[code]

[2020-03-30 13:40] vanguard737 commented on #476
Quick bookkeeping question:  `augur/filenames.py` is in the above list, and `augur/ancestral.py` is not.  However, when I run tests locally, I observe that filenames.py is 100% covered, while ancestral.py is not:

[code]

Confirmed that this reproduces in the Travis build output, e.g. [here](https://travis-ci.com/github/nextstrain/augur/jobs/306625752).  Should this issue's worklist be updated acc

[2020-03-30 14:01] willingc commented on #476
@vanguard737 The omission of ancestral.py was accidental. I will add it now and assign it to you in the first message. Thanks!

[2020-03-30 19:26] dharrison-salesforce commented on #476
Working down the list, I'll start on `distance.py`.

[2020-03-30 19:42] Zsailer commented on #476
I'll work on `reconstruct_sequences.py`

[2020-03-30 20:42] willingc commented on #485
Once codecov is enabled, this PR can be closed.

[2020-03-30 20:48] willingc commented on #500
@terrycojones Can this issue be closed or is there still something outstanding?

[2020-03-30 21:14] terrycojones commented on #500
Hi. It could be closed - up to you. I don't know why a different number of tests get run in the 2 scenarios I mention above, but I don't think that's any kind of bug. I don't know why I get an error using `-k` either.  Anyway, for me it's fine to close this.

[2020-03-30 21:23] willingc commented on #500
Thanks @terrycojones. We'll close this. If you have issues at a later date, please let us know.

@huddlej Recommend closing.

[2020-03-30 23:09] calebwin opened #505 "[Feature request] GPU acceleration?"
Feel free to ignore this - this is low priority and not really a feature request.

I was wondering - could augur benefit from GPU acceleration? I was looking in the `distance` module and was wondering if some of the "hot" code in there and maybe in other places might benefit from moving data to the GPU and doing computation there.

I have some GPGPU experience so I might be able to help with this.

[2020-03-30 23:26] dharrison-salesforce commented on #476
Is there a good example dataset that can be used with the distance command? Ran through the [tb_tutorial](https://github.com/nextstrain/augur/blob/master/docs/tutorials/tb_tutorial.md) seeing a distance map I can apply to the tree. I can mock up something based on the examples in the docstrings but I'd prefer to see how it works against a real dataset to sanity check myself.

[2020-03-31 04:48] huddlej opened #507 "[BUG] augur mask only supports VCFs with a single "chromosome" entry"
**Current Behavior**
augur mask was originally developed to support masking sites from VCFs whose variants were relative to a single chromosome reference of a pathogen (e.g., tuberculosis). As it is currently implemented, the mask command only reads in the first "chromosome" entry of the VCF and considers all masked sites as relative to that chromosome.

Although the mask command accepts a BED fil

[2020-03-31 04:59] erickguan commented on #476
I'll start with `traits.py`.

[2020-03-31 05:25] huddlej commented on #500
@terrycojones Using `run_test.sh` includes doctests while running `python -m pytest` without specifying the test config file only runs unit tests.

The `-k` option is designed to specify a subset of tests you want to run.

[2020-03-31 05:25] #500 closed

[2020-03-31 15:07] 4rund3v commented on #476
I can work on export.py

[2020-03-31 18:10] tsibley commented on #430
(Been meaning to respond to this for a while…)

This is [the approach I took in ID3C's location catalog](https://github.com/seattleflu/id3c/blob/5a456d6f10953edf9e43da2f00aacda43f361a19/schema/deploy/warehouse/location.sql#L21-L25). It has the advantage of simplicity and matches how humans disambiguate anyway, and it doesn't preclude more sophisticated approaches in the future.

If we want an init

[2020-03-31 22:14] tolot27 commented on #505
I've observed that mafft takes longer and longer with increasing number of sequences, even if I add only new sequences. I traced it to `disttbfast`, a component of mafft, which uses just one thread during the later stage of the alignment. Maybe only Kazutaka Katoh, the author of mafft can solve this. Or we could try [G-large-INS-1](https://doi.org/10.1093/bioinformatics/bty121).

[2020-03-31 23:33] huddlej opened #510 "BED files should not have headers"
**Current Behavior**

Wherever augur refers to BED files, it tends to do so with the expectation that these files have a header in the first line. For example, the [load_excluded_sites function in tree.py](https://github.com/nextstrain/augur/blob/d5dbc75bce43f9439bad5ac3016ded492fb43b7a/augur/tree.py#L207) and the [test data for the TB build](https://github.com/nextstrain/augur/blob/e17be1510d0c7b

[2020-03-31 23:50] huddlej opened #511 "BED file coordinates should be treated as 0-start, half-open intervals"
**Current Behavior**

augur's functions to read in BED files with a CSV parser treat coordinates as 0-start, fully-closed intervals. This means they include both the start and the end coordinates in the interval and treat these as zero-based coordinates. This behavior happens in [load_excluded_sites in tree.py](https://github.com/nextstrain/augur/blob/d5dbc75bce43f9439bad5ac3016ded492fb43b7a/augur

[2020-04-01 00:00] #148 closed

[2020-04-01 00:22] calebwin commented on #505
Interesting. I'll definitely look into this.

[2020-04-01 17:49] tsibley commented on #510
I'd vote against this. It's nice to stick to standard, widely-used formats like BED, even when the difference between our "tab-delimited coordinates" and BED would be very small.

[The number of affected files](https://github.com/search?q=user%3Anextstrain+user%3Aemmahodcroft+user%3Arneher+user%3Ablab+extension%3Abed+-repo%3Ablab%2Fzika-seq&type=Code), at least in our group, seems pretty low. So w

[2020-04-01 18:31] danielsoneg commented on #507
This is going to be a bit interesting - I'll tackle this after centralizing the "read_bed_file" logic from tree & mask, but two things pop to mind -

1. right now in Tree we're reading masking sites from both files the same way - effectively, "give me back a list" - we'll have to change that behavior to differentiate between bed files and just straight lists

2. More importantly, how does this wor

[2020-04-01 18:40] emmahodcroft commented on #507
For Fasta files there is only every one chromosome - the chromosomes are a VCF thing. For Fasta, supplying masking sites as BED files is not really standard, but useful in theory as it's a nice format. We can assume that if using Fasta files all the site apply to the sequence that's been passed in. (There's no way to differentiate different sections of a Fasta file).

Unfortunately I don't underst

[2020-04-01 18:43] emmahodcroft commented on #510
I'd really support backwards compatibility here. The number in our group is low because I'm the only one who works with VCF and the only 'nextstrain' VCF builds we maintain are the one TB build & tutorial. But, I have plenty of other builds that use this (just not official Nextstrain ones), and I expect other bacterial users will too.

Happy to support both ways, but think compatibility would be v

[2020-04-01 18:46] danielsoneg commented on #507
@emmahodcroft per a conversation separately, we have two very similar functions for loading masking sites from a file, one in `augur/mask.py` and one in `augur/tree.py`, so we're going to merge those and centralize to `augur/utils.py`.

Currently, reading masking sites from files, whether .bed format or just a file with one site per line, returns the same format, a basic list of integers. To handl

[2020-04-01 19:06] emmahodcroft commented on #507
Ah - they should still be able to return the same format though, I think!

There may be multiple chromosomes/whatever in the BED file, but we only support one 'chromosome' (or 'thing') in Nextstrain. They can only have one 'chromosome-thing' in the VCF file itself (how strictly we enforce this in the code, I don't remember - but it definitely won't work).

So, we just need to check that one of the

[2020-04-01 19:07] emmahodcroft commented on #507
We may support more 'things' in future but this would be a big, big change in `augur`/`auspice` - and the phylogenetics as a whole - so this can come if we ever move in that direction (no plans at the moment).

[2020-04-01 19:09] danielsoneg commented on #507
Ok, cool - if you and @huddlej are on the same page on this, I'm good with less work 😁

[2020-04-02 06:25] huddlej commented on #485
This is done now. Thanks, @willingc!

[2020-04-02 06:25] #485 closed

[2020-04-02 18:04] huddlej commented on #507
Yeah, if there were a "very low priority" tag, this issue would have it, but I wanted to document the edge case somewhere so it didn't get lost forever.

That said, I've updated the "expected behavior" to reflect that we should at least alert unsuspecting users if they pass in a VCF with multiple chromosomes instead of just processing it anyway.

Users coming from a genomics background will expect

[2020-04-02 18:09] huddlej commented on #510
Cool, I prefer supporting standard BED files with backward-compatibility, too. It's true that headers are better and BED is a suboptimal format.

Backward compatibility has been implemented for one instance of reading BED files by @danielsoneg in the [augur mask module](https://github.com/nextstrain/augur/blob/7258b8b4979e2ef80f8773041d930cd01abb724e/augur/mask.py#L32-L38). We've discussed moving

[2020-04-02 18:47] huddlej commented on #476
@dharrison-salesforce The distance maps described in the docstrings were developed for our seasonal influenza analyses, so the best place to start with real-world data is the [nextstrain/seasonal-flu repo]( https://github.com/nextstrain/seasonal-flu/). Check out the [distances rule in the Snakefile_base](https://github.com/nextstrain/seasonal-flu/blob/bc50a5b9f137c998771b17e4497b5000fb2517e0/Snake

[2020-04-02 22:30] lcwheeler commented on #476
I can work on lbi.py

[2020-04-03 00:15] terrycojones opened #515 "How to have more control over the contents of the maintainers section?"
On https://nextstrain.org/ncov the maintainers section at top reads `Maintained by the Nextstrain team. Enabled by data from` with a GISAID logo. I took a look in `augur/export_v2.py` and don't see how you're managing that. I'm assuming the name/URL dicts are ending up in JSON that is parsed by the auspice JS and (ordinarily) turned into the list of names with optional URLs. But not in the case of

[2020-04-03 00:28] jameshadfield commented on #515
The ncov site is using some [custom auspice code](https://github.com/nextstrain/auspice/blob/96991230adfb7d96b13d2e42e99139c7fe8e0759/src/components/info/byline.js#L32). In general, we try to avoid situations like this unless there are compelling reasons, as they are not usable by others.

Ideally, there would be a way to specify this in the JSON, which would then be usable by any dataset, but thi

[2020-04-03 00:51] terrycojones commented on #515
Hi @jameshadfield - thanks for the quick reply.  I'll have a look around and think. I've already put links on the top-level landing page, including to your 2018 paper. Hoping not to run afoul of GISAID, or anyone else :-)

No need to keep this open, unless you want to. In situations like this I normally provide a way for people who know what they're doing to supply the exact value, e.g., in this c

[2020-04-03 00:53] tsibley commented on #515
One option is to introduce limited Markdown support in a new `byline` metadata property, which would be used in preference to the existing byline construction that uses `buildUrl`, `authors`, etc. I say "limited Markdown" because Auspice would likely want to strip block-elements, headings, tables, etc from the resulting HTML.

[2020-04-03 16:18] huddlej opened #518 "Resolve deprecation warnings in end-to-end test builds"
**Current Behavior**
End-to-end test builds that are run as part of Travis CI pass but emit numerous deprecation warnings that should be resolved.

**Expected behavior**
We should only get warnings when something actually needs to be changed soon.

**How to reproduce**
[See example Travis CI logs](https://travis-ci.com/github/nextstrain/augur/jobs/312961545#L1006).

**Possible solution**
Update co

[2020-04-03 23:21] huddlej opened #519 "Sync installation docs with README quickstart"
**Current Behavior**
README and installation docs have diverged and need to be synced.

**Possible solution**
Remove all installation docs from README except for the simplest quick start and keep all other installation instructions in the main docs. I think the README is most up-to-date, but I will do a full comparison to be sure.

[2020-04-05 14:26] ddomman commented on #498
I get this same error when running `augur traits` on my HPC. Strangely, this completes on my laptop without errors using same dataset. Both have same python and augur versions.

On HPC:
[code]

On laptop:
[code]

[2020-04-05 15:25] jstoja commented on #511
I've taken a shot at it with #521 but I didn't find any BED files for `excluded_sites`.

[2020-04-05 19:41] biocyberman opened #522 "Get path and list of mutations between to strains?"
I want to generate a path between two strains and also return changes in nucleotide and aminoacid sequence between the second and the first. For example, consider C and H leaves in the tree below, the path would be C, B, A(root), F, H. And any differences in NT and AA that H has with C as the reference.

[code]
I was reading [`distance.py`](https://github.com/nextstrain/augur/blob/master/augur/dis

[2020-04-06 21:43] danielsoneg opened #524 "Augur align --reference-name always throws "Duplicate strains" error"
Was playing around with augur to understand the system better, ran across a bug:

**Current Behavior**
`augur align --reference-name NAME` flag throws "Duplicate strains detected" regardless of input

**Expected behavior**
`augur align` should take NAME as the reference and align strains to that.

**How to reproduce**
Steps to reproduce the current behavior:
1. Create a simple test FASTA:
[code]
2

[2020-04-07 03:33] roblanf commented on #424
Hi all,

We're working on getting some online phylogenetics going (it will happen on this fork https://github.com/roblanf/augur). As part of that I need to keep constant track of which sequences are removed and why (I'll also be adding some additional methods to filter sequences automatically based on bad alignments and/or trees). What I'll be doing overlaps with this issue, so I thought I'd lay o

[2020-04-07 08:15] roblanf commented on #424
Hi All,

Is there a reason not to just make a dataframe here and output to a csv file. Something like:

one row per sequence
one column per test ('pass', 'fail', or 'NA' if test wasn't run)
an extra column to state whether the sequence was kept or excluded (i.e. full logic of the combined tests)

Such a file would be trivial to produce, and also quite human-readable. It would also make things a bi

[2020-04-13 19:46] CodeSammich commented on #476
I can work on translate.py

[2020-04-14 03:57] batson opened #537 "Enable a time-tree with polytomies"
**Context**
When a large number of viral genomes are sequenced from a small population or in a short period of time, there are may be many identical genomes in the tree. Currently, the maximum likelihood tree computed by `augur tree` arbitrarily resolves the implicit multifurcation into a sequence of bifurcations. Then `augur refine` then infers properties (such as geographic location) for the int

[2020-04-14 04:03] trvrb commented on #537
Thanks @batson!

You can experiment with adding `--keep-polytomies` to the `augur refine` step. It does as you propose. We've gone back and forth on whether to switch to this. It messes with the macro-level view of the tree and makes all the clades look explosive. But it's good for representing what we can trust about clade structure in a time time. I prefer to toggle back-and-forth between div an

[2020-04-15 16:03] boegel opened #538 "Is Augur compatible with matplotlib 3.x?"
In setup.py, there's a relatively script version requirement for `matplotlib`:

https://github.com/nextstrain/augur/blob/6e64923a025531f4c00bb44ca2af59afb751cc36/setup.py#L60

Is that just to be on the safe side and is Augur actually compatible with `matplotlib` 3.x as well, or are there known compatibility issues with matplotlib 3.x?

[2020-04-16 08:06] Darkless012 opened #539 "Is Augur compatible with cvxopt 1.2.x?"
In setup.py, there's a relatively script version requirement for cvxopt:

https://github.com/nextstrain/augur/blob/master/setup.py#L59

Is that just to be on the safe side and is Augur actually compatible with cvxopt 1.2.x as well, or are there known compatibility issues with cvxopt 1.2.x?

Looking on diff it seems no obvious breaking changes were introduced.
https://github.com/cvxopt/cvxopt/compa

[2020-04-16 21:38] Zsailer opened #540 "Adding a full example to the tests data directory"
Hi all,

While trying to add tests to this repo, I've noticed that multiple PRs needed example data for testing. To generate such data, I ran through one of the examples [here](https://nextstrain.org/docs/tutorials/zika) and moved the output into the `tests/data` dir. This made it much easier to create tests.

Now my question is, should we have a complete generic test dataset that all tests can us

[2020-04-16 22:07] jameshadfield commented on #540
Hi @Zsailer -- have you seen the Snakemake runs in [`./test/builds`](https://github.com/nextstrain/augur/tree/master/tests/builds)? Specifically, I think the [zika fasta](https://github.com/nextstrain/augur/blob/master/tests/builds/zika/data/zika.fasta) within augur contains fewer sequences than the zika-tutorial but achieves the same end goal as the zika-tutorial

[2020-04-16 22:34] jameshadfield commented on #540
I agree with this, but I'd use the data that's currently being used by the Snakemake runs in `./test/builds` as a starting point. Those snakemake files can be updated to refer to the `tests/data` location. cc @huddlej

Quick heads up that in terms of "integration tests", or those which test the augur CLI itself, we're currently diescussing internally whether to go for the `cram` approach ([augur e

[2020-04-16 22:48] cedric-audy commented on #522
I have no business here but lines 351-372 seem to be doing that. Only it returns the length instead of the path itself.

[2020-04-16 23:15] Zsailer commented on #540
@jameshadfield I totally missed `./test/builds`—thank you for pointing this out! Super helpful!

I've used [pytest-datafiles](https://github.com/omarkohl/pytest-datafiles) in the past for handling data directories. It's pretty sweet. Files listed in `mark` are copied to a tmp directory and accessible through the `datafiles` fixture. This handles all the boilerplate code you'd need to write to make

[2020-04-16 23:29] Zsailer commented on #540
For integration testing, it probably doesn't matter too much. Pytests definitely makes **unit testing** easier and cleaner, but I'm not sure it's really meant for testing CLI (though there is no reason you can't—e.g. your example works great). A pytest fixtures that emulate a CLI might get cryptic or messy as you try to support more complex entrypoints.

[2020-04-18 20:37] huddlej opened #541 "augur traits does not export mugration models into the same output directory as traits JSON"
**Current Behavior**

Running augur traits as follows outputs `treecountry.mugration_model.txt` and `treeregion.mugration_model.txt` files in the `expected/` subdirectory instead of the same directory where the `traits.json` is written out.

[code]

This issue results from [using the input tree's name as an output prefix for the mugration models instead of the output prefix for the traits file its

[2020-04-26 19:42] iamsinghrajat commented on #538
Yes, Augur is compatible with matplotlib 3.x

[2020-04-29 09:02] jstoja commented on #215
@huddlej Do I understand well that `node_data` shouldn't overwrite `metadata` keys?
From the tests (for example `tb`), it seems that `node_data` is more precise than `metadata` for the `date` field.

Raising an exception here means that the the export will fail since the function won't return. Maybe just printing a warning in the parse function will be enough?

[2020-04-29 13:44] nitfer commented on #430
"City, State, Country" isn't necessarily enough.  There are some cities that are duplicated within states and you need to specify the County to disambiguate.

It's really difficult to get a general solution to geographic areas because different countries organize things in different ways.  But "Who's on First" (which I never heard of before now) actually looks pretty flexible.

[2020-05-04 11:39] boegel commented on #538
OK, thanks for the info!

[2020-05-04 11:39] #538 closed

[2020-05-04 16:54] tsibley commented on #430
Yep! :-) This is where using a database with uniqueness constraints can be handy since it'll automatically alert you to that problem, unlike a collection of flat files. So most of the time you can use the simplest identifier and only disambiguate with additional information (like county) when needed. Of course, it's always possible to add similar QC processes on top of flat files, but more work.

[2020-05-05 11:56] pauloluniyi opened #547 "error with treetime when running a nextstrain build"
when trying to run a nextstrain build, I'm getting an error message with treetime, "raise UnknownMethodError(TreeTime.run: rate variation for confidence estimation is not available. Either specify it explicitly, or estimate from root-to-tip regression." does anyone have a fix for this? or suggestions on how to solve it?

[2020-05-05 21:50] jameshadfield commented on #547
Closing in favor of https://github.com/neherlab/treetime/issues/118 which has more information & discussion. We can reopen if this is an augur (not TreeTime) issue

[2020-05-09 05:01] peterhmasters commented on #424
Hi @emmahodcroft I created a class to handle this behavior leveraging @roblanf 's dataframe ideas.

(I don't know why it hates this portion of formatting)
`
class TrackFilter:
    """This class tracks which sequences are included or excluded by the filter and the reason why

    :param seqs: A list of sequences to be filtered on
    :type seqs: list

    :Example:

    """

    def __init__(self,

[2020-05-09 14:47] camposvet commented on #352
Hellow, I try do run the script below to building a nextstrain tree with SARS-CoV-2 sequences from GenBank and show a error: "augur ancestral: error: ambiguous". You can help me?!?

### Setting the rules applicable to all steps that come next. It defines where the input files are: make sure this information is accurate

rule all:
    input:
        auspice_tree = "auspice/nextstrain_classes2_tree.

[2020-05-10 21:02] peterhmasters commented on #424
I can't push my branch to create a pull request, so I put the files here: https://github.com/peterhmasters/NextStrain_Filter_Info/tree/master/NextStrain_Files

I added the --log functionality as mention by @trvrb / @tsibley / @emmahodcroft :
`parser.add_argument('--log', help="file destination for filter reasoning if it is wanted.")`

I also added the call functionality I.E.
`filter_info.update("f

[2020-05-19 04:52] jameshadfield opened #551 "possible bug using augur refine c/w treetime"
This issue describes a possible bug in how `augur refine` is calling `treetime`. I don't have the original files (yet) so cannot reproduce but am posting now in case we've seen this before and it's an easy solution. I'll update with further information as I get it

The following treetime command works:
[code]

However this corresponding `augur refine` command fails:
[code]

[code]

[2020-05-19 14:15] rneher commented on #551
this was fixed in treetime about a year ago.
https://github.com/neherlab/treetime/commit/10eb15038844a3f4e803eddaa44b136d5d2088f0

recent versions should not have this problem.

[2020-05-20 14:24] thierrycnam opened #553 "KeyError using augur parse on example_data/h3n2_ha.fasta"
**Current Behavior**
The program stopped printing a KeyError message
meta_data[seq.id].pop('strain')
KeyError: 'strain'

**Expected behavior**
I expect a tsv file using augur parse command

**How to reproduce**
cd seasonal-flu
conda activate nextrain
augur parse -s example_data/h3n2_ha.fasta --output-sequences test.fasta --output-metadata test.tsv --fields "strain type subtype date season country

[2020-05-22 04:47] DamnikJain1 commented on #464
Do you have an unassigned open issues in Python which I can work upon ?

[2020-05-23 10:33] #483 closed

[2020-05-23 10:35] #498 closed

[2020-05-23 10:36] #502 closed

[2020-05-23 10:37] #541 closed

[2020-05-23 10:38] #547 closed

[2020-05-24 01:51] EricFournier3 opened #554 "Bug in refine.py"
**Current Behavior**
A clear and concise description of what is happening / what the bug is.
Inferred a time resolved phylogeny using TreeTime:
        Sagulenko et al. TreeTime: Maximum-likelihood phylodynamic analysis
        Virus Evolution, vol 4, https://academic.oup.com/ve/article/4/1/vex042/4794731

Traceback (most recent call last):
  File "/data/Applications/Miniconda/miniconda3/envs/next

[2020-05-24 12:05] rneher commented on #554
thanks for raising this. I just had a look. This probably happened when optimization of the coalescent model failed within treetime and this wasn't caught.If you change `coalescent` from `skyline` to `const` it should no longer fail.

[2020-05-24 14:50] rneher commented on #539
we only use pretty standard solvers. the strict requirement is only to be on the safe side.

[2020-05-25 01:04] efournier8 commented on #554
perfect. Thanks

[2020-05-25 19:29] #554 closed

[2020-05-25 19:39] #244 closed

[2020-05-28 08:13] thierrycnam commented on #553
The double quotes are causing this. Sorry.

[2020-05-28 08:13] #553 closed

[2020-05-29 17:40] andersonbrito opened #558 "Validation of 'results/aa_muts.json' failed"
**Current Behavior**
I'm running a quite large tree (nearly 10,000 taxa) on a server. The whole pipeline runs as expected, but at the last step `augur` fails to export the JSON file. I'm getting the error below:

[code]

**Expected behavior**
Go through the last `augur` step and export a JSON file.

**How to reproduce**
Maybe using a dataset of the same size as described above, but I'm not entirel

[2020-05-29 18:09] tsibley opened #559 "Ancestral trait reconstruction can fail for traits with more than 62 unique states"
`augur traits` [calls](https://github.com/nextstrain/augur/blob/42a26edc229c32cd83e4bf272ce0bdada1c100c6/augur/traits.py#L67-L70) TreeTime's `reconstruct_discrete_traits()` function for each trait given by `--columns`. `reconstruct_discrete_traits()` builds a single character alphabet representing the unique states for the trait by enumerating the states and assigning them a Unicode character star

[2020-05-29 19:03] emmahodcroft commented on #558
Hi @andersonbrito !

So, I'll have to dig a little bit deeper to remember exactly the details here, but I think I know vaguely the issue, thought that might be worth commenting on in case that's helpful short-term (as it's late here and I can't promise I can dig into this tonight!).

In older versions of `augur` we specified strand as either 0 or 1, but more recently (9 months ago?) we switched th

[2020-05-29 19:06] emmahodcroft commented on #558
Sorry - as an update, the PR I linked gives the inverse scenario (I said it was later here!) where an older version of export was using a newer generated translate file! I believe your situation is the inverse. It seems somehow an older version of `translate` is generating the annotations file...

[2020-05-29 19:12] rneher commented on #559
good to know. I have never run into this but my locale certainly is `*.UTF-8`.  We have recently merged some PRs that fix this in other places (e.g. this one https://github.com/nextstrain/augur/pull/503) and it makes sense to harmonize this across files (and in treetime).

TreeTime used to be restricted to byte arrays for sequences, but in python3 these are unicode arrays and the core machinery sh

[2020-05-29 19:21] emmahodcroft commented on #558
I've looked into this a bit more and yes, it seems like somehow you have a 'v5' version of your `translate` files (`aa_muts`) being generated, which is then getting passed into your `v6`) (or `v2`) `export` function, thus failing validation (see end of my comment [here](https://github.com/nextstrain/augur/issues/379)]) .

I'm very unsure how this might have happened though! Is it possible these we

[2020-05-29 19:39] tsibley commented on #559
I've opened #560 to be explicit about this across Augur for all the `open()` calls I could find.

[2020-05-29 21:16] andersonbrito commented on #558
Hey @emmahodcroft, thanks a lot for explaining the reasons behind this issue.

It indeed looks like a disconnect between components which are not in sync in terms of version. Event though the server runs `augur 7.0.2`, the `aa_muts` file is formatted like shown below:

[code]

In rule `export`, my Snakefile uses `augur export v2`. Would reverting the Snakefile to `augur export` solve the issue? Or

[2020-05-30 06:51] andersonbrito commented on #558
@emmahodcroft, following your comments, the approach below worked. ✨

I reverted the `Snakefile` and the `auspice_config` to fit `augur export v1`, re-ran `snakemake translate --force` and `snakemake export`, and both meta and tree JSON files were generated with the results I expected.

Thank you for your quick response.

[2020-05-30 10:30] emmahodcroft commented on #558
Hi @andersonbrito - I'm glad it got working, but this is super weird! I'm 100% unsure how you were able to generate an 'old style' translate file, as essentially this shouldn't happen with newer `augur` versions!

With the new format, with '+' as your strand, you should be able to now use `export v2` if you so wish, as well. However, as long as both parts of your pipeline are using the latest `aug

[2020-05-31 08:27] #559 closed

[2020-06-01 04:57] andersonbrito commented on #558
Hi @emmahodcroft,

That makes sense. I guess there is a chance that only `augur` was updated outside the main conda environment found in the server, and probably I was running in distinct environments without noticing that. Anyway, I'll try to get the how environment updated, so that to avoid possible 'hybrid' runs.

Thank you.

[2020-06-01 16:26] emmahodcroft commented on #558
Yea, environments are both a blessing and a curse! 😆  Thanks for your patience, I'm glad it got sorted anyway! Feel free to reopen or start a new issue if it causes trouble again!

[2020-06-01 16:26] #558 closed

[2020-06-02 04:33] batson commented on #328
But what if there were a global pandemic with an unprecedented amount of sequences and extremely low diversity? Would that be a time when the default might be too low?

[2020-06-14 03:57] akshaysu12 opened #563 "Metadata file with duplicate values in "name" column does not throw an error."
**Current Behavior**
Metadata file with duplicate values for a "name" column will not throw an error.

**Expected behavior**
Metadata file with duplicate values for a "name" column should throw ValueError.

**How to reproduce**
1. Create a metadata file with column titled name (instead of a column titled strain)
2. Add rows to the metadata file such that the name column has duplicate values (rows

[2020-06-17 11:22] shashibioinfo143 opened #566 "NextStrain augur refine treetime.MissingDataError: ERROR: ALMOST NO VALID DATE CONSTRAINTS"
augur refine -t indian_837_data.nwk -a aligned_indian_837.fasta --metadata metadata_2020-06-16_07-16.tsv --output-tree refine_indian_837_data.nwk --output-node-data branch_lengths_indian_837.json --root hCoV-19/Wuhan/WH01/2019 --timetree --clock-rate 0.0008 --clock-std-dev 0.0004 --coalescent skyline --date-inference marginal --divergence-units mutations --date-confidence --no-covariance --clock-f

[2020-06-17 12:10] rneher commented on #566
Please check that the taxon names in your tree match those in the meta data and that the dates are in the correct format.

[2020-06-17 17:39] kairstenfay opened #567 "Accept ISO 8601 dates in augur filter's max-date and min-date"
**Context**
When providing an argument to augur filter's `--max-date` option, I automatically gave it an ISO 8601 date string (e.g. '2020-06-15'). Not being much of an augur user, I was surprised to learn that it only accepts float dates (e.g. 2020.46).

**Description**
Allow augur filter to accept ISO 8601 date strings along with date floats in a backwards compatible way.

More context can be fou

[2020-06-17 22:30] jameshadfield commented on #567
:+1: Small typo in the link to the ncov PR where this was discussed, it's at https://github.com/nextstrain/ncov/pull/401

[2020-06-18 02:14] kairstenfay commented on #567
Ah, thank you, James. I updated the link so that it's now functional.

[2020-06-18 22:49] #567 closed

[2020-06-19 09:04] #524 closed

[2020-06-19 09:11] rneher commented on #566
did this solve your issue? can we close this?

[2020-06-19 10:26] shashibioinfo143 commented on #566
Hi sir,
I have changed the Date for columns which were empty in **ddmmyear** format.
and taxon names were fine.
but still i got this issue.
please help me to resolve it
Thanks.

augur refine is using TreeTime version 0.7.6
Traceback (most recent call last):
  File "/home/sashik/.local/bin/augur", line 11, in <module>
    sys.exit(main())
  File "/home/sashik/.local/lib/python3.6/site-packages/augu

[2020-06-19 10:44] rneher commented on #566
try 'YYYY-MM-DD' format. This is the ISO format augur supports.

[2020-06-19 11:24] shashibioinfo143 commented on #566
Hi,

I tried changing the format to 'YYYY-MM-DD'
but this showed different error
please help me on this

augur refine is using TreeTime version 0.7.6
Error reading metadata file metadata_2020-06-16_07-16_updated2.tsv
Error tokenizing data. C error: Expected 4 fields in line 63, saw 5

PFA attachment of the tree and metadata excel files

[indian_837_data.zip](https://github.com/nextstrain/augur/fil

[2020-06-21 06:45] shashibioinfo143 commented on #566
Please help me to resolve this issue sir.
Hope to hear from you
Thank you

[2020-06-21 08:28] rneher commented on #566
there is something wrong with your tsv file. You only sent the excel file along, so I can't tell.

[2020-06-21 08:30] rneher commented on #434
sorry it has taken so long... could it be that all your dates are the same? In this case, you need to provide a clock rate.

[2020-06-21 10:17] shashibioinfo143 commented on #566
Thank you for reply
I can't able to attach tsv file here.
If you can please share your email address

Thank you

[2020-06-23 20:47] jg95ae commented on #566
Hi Richard, I'm having the same error when using the example data

[2020-06-24 04:13] #566 closed

[2020-06-24 04:36] shashibioinfo143 commented on #566
Hi sir,

Sorry for late reply, i was not in lab for last 2 days
PFA of tsv file
Please help me to resolve this

Thanks

[metadata_2020-06-16_07-16_updated2 (1).zip](https://github.com/nextstrain/augur/files/4823217/metadata_2020-06-16_07-16_updated2.1.zip)

[2020-06-24 07:13] emmahodcroft commented on #566
Hi @shashibioinfo143 - you marked the issue as closed. Is the problem resolved, or do you continue to have problems?

I downloaded your file but I cannot open the TSV within the ZIP. It seems the file is corrupted or it's not actually a TSV file. If I change the extension to XLS it seems it's an Excel file. You cannot use an Excel file as input here (and just changing the extension doesn't work).

[2020-06-24 11:34] shashibioinfo143 commented on #566
Thanks for the response.
The Query got closed by mistake.
i will try to download metadata.tsv file again from GISAID and do analysis will update you accordingly

Thank you

[2020-06-24 21:44] COVIDMutational opened #570 "How to get specific positions of mutations on a tree?"
I have created a time tree and have calculated the mutations on all of my terminal branches and inferred ancestors.  Is there currently a feature that would enable me to get more specific information on the depth of these mutations in the tree, or even where these outputted mutations fall on their branches?  Thanks!

[2020-06-24 22:15] jameshadfield commented on #570
Hi @COVIDMutational, if you use the `augur export` functionality to make a JSON for visualization in auspice you can interact with the resulting tree and see mutations on individual branches as you hover over them, as well as a diversity panel etc. The simplest way to use auspice is to simply drag & drop the JSON onto http://auspice.us, but you can also install it locally.

If you are asking where

[2020-06-24 22:24] COVIDMutational commented on #570
Hi @jameshadfield, thank you for the reply.  I am looking to get depth estimates for individual mutations.  I've  been able to find the branches that each mutation falls on, and the length of said branches, but I didn't know if there was a command to extrapolate mutation depth from these.

E.g. A command that would utilize branch_lengths.json and nt_muts.json to output depth estimates for mutation

[2020-06-24 23:00] jameshadfield commented on #570
There's not a command specifically to do this, but you can match the data via the node names between those two JSONs. The dates in the `branch_lengths.json` (`numdate` key) refer to the bottom of the branch (i.e. the end closest to the tip) so to get the date at the top of each branch you'll have to look at the newick file which `augur refine` produces to find the parent node name. It may be easie

[2020-06-24 23:42] COVIDMutational commented on #570
That makes sense, thank you!  One last question: I understand what branch_length represents in the branch_lengths.json but what does the mutation_length key represent?

[2020-06-24 23:57] jameshadfield commented on #570
It depends on the [--divergence-units](https://github.com/nextstrain/augur/blob/master/augur/refine.py#L122) argument passed to `augur refine`. For CoV, we use [--divergence-units mutations](https://github.com/nextstrain/ncov/blob/master/config/config.yaml#L79) so it's the number of nucleotide changes ascribed to that branch by a GTR model (note that the output in the JSON from `augur export` repr

[2020-06-25 03:07] shashibioinfo143 commented on #566
Hi,
I have downloded metadata file again and did analysis but still it shows same error.

i have sent metadata file in .zip format and tree file

please help me to resolve this issue

Thank you

[indian_837_data_file.zip](https://github.com/nextstrain/augur/files/4828901/indian_837_data_file.zip)
[metadata.zip](https://github.com/nextstrain/augur/files/4828903/metadata.zip)

[2020-06-25 04:01] huddlej opened #571 "Too many publications associated with a single author breaks augur export"
**Current Behavior**

Running augur export v2 with recent ncov data can produce a case when an author has more than associated 52 publications. In this case, the index of the author tuple (see traceback below) exceeds the letters provided in the alphabet string.

[code]

**Expected behavior**

The above error should not happen.

**How to reproduce**

Download the attached data in [ncov_issue.zip](

[2020-06-25 11:21] shashibioinfo143 commented on #566
Hi @emmahodcroft ,

Thank you so much for response. I have changed those Strain name in Excel hCoV-19.. and tried to do analysis from augur refine step but still error is same.

Im using Ubuntu 18.04 version and using Libre Office Cal Software for Excel metadata.tsv file for editing. I have changed the Format of date to 'YYYY-MM-DD' and saved . but when i reopen the metadata.tsv file in same softw

[2020-06-25 11:21] shashibioinfo143 commented on #566
[metadata.zip](https://github.com/nextstrain/augur/files/4830901/metadata.zip)
[indian_837_data_file.zip](https://github.com/nextstrain/augur/files/4830903/indian_837_data_file.zip)

[2020-06-25 19:32] dpark01 commented on #571
@cmloreth and I have seen this recently too

[2020-06-25 21:23] trvrb commented on #571
How about a simple appending of `A`, `B`, `C`, ..., `Z`, `AA`, `AB`, `AC`, ..., `AZ`, `BA`, `BB`, etc...? I'd prefer `Gemma Clark et al B` to `Gemma Clark et al 2` for aesthetic reasons.

[2020-06-26 17:03] #563 closed

[2020-06-26 17:04] #511 closed

[2020-06-26 17:15] COVIDMutational commented on #570
Thank you!  This solves this.

[2020-06-26 17:15] #570 closed

[2020-06-26 18:02] #551 closed

[2020-06-26 18:03] rneher commented on #537
this exists, so I think we can close this, right?

[2020-06-26 18:03] #537 closed

[2020-06-26 18:06] huddlej opened #574 "read_metadata delimiter detection is fragile"
**Current Behavior**

`read_metadata` [tries to load a given file as tab-delimited data only if the file extension is `.tsv`](https://github.com/nextstrain/augur/blob/ef91b72b5d65c2be6a362e886252ed5c8d43f9c6/augur/utils.py#L76). Any other extensions get parsed as comma-separated values.

**Expected behavior**

`read_metadata` should provide a more user-friendly interface by more intelligently dete

[2020-06-26 18:07] rneher opened #575 "Trait reconstruction without trait diversity only fails"
**Current Behavior**
In and ncov issue ( https://github.com/nextstrain/ncov/issues/426), @Addicted-to-coding reported that reconstruction fails when there is only one value on the metadata. This has to do with treetime not bothering to actually reconstruct anything which results in missing confidence vectors. When augur tries to access these, it fails.

[2020-06-26 18:19] huddlej opened #576 "read_metadata lacks standard error handling"
**Current Behavior**

The `read_metadata` function in augur.utils allows users to pass invalid filenames or existing files with missing columns and returns an empty metadata set in each of these cases.

**Expected behavior**

`read_metadata` should raise appropriate errors when it receives invalid inputs. These invalid inputs most likely represent issues with the input data or the way the user is

[2020-06-26 18:22] huddlej commented on #510
This was resolved by #550.

[2020-06-26 18:22] #510 closed

[2020-06-26 19:28] #519 closed

[2020-06-26 19:45] huddlej commented on #465
@tolot27 @groutr If either of you are still interested in working on this issue, the most relevant data to test with might be [recent SARS-CoV-2 sequences described in the ncov repo docs](https://github.com/nextstrain/ncov/blob/master/docs/running_old.md).

If you are interested, let me know if there is anyway I can help.

[2020-06-26 20:10] huddlej commented on #571
Thanks, @trvrb! Your suggestion sounds good. I'll try this out. For my own context, the reason why the numeric disambiguation is not preferred is partially because the authors are listed in auspice with the number of strains displayed in the tree like so:

If we used numeric disambiguation, these authors would be listed like:

which is much more confusing.

[2020-06-27 00:26] sidneymbell opened #580 "Allow multiple file inputs for `lat_longs`, etc. via a deep merge"
**Context**
Currently, it's very easy for an external user's copy of `lat_longs.tsv`, `orderings.tsv`, etc. to become out of sync with the remote's copy.

**Description**
It would be _amazing_ if we could allow multi-file inputs to `lat_longs.tsv`, `orderings.tsv`, etc. via a deep merge to allow users to input _both_ our provided copy of these files _and_ their additional data, particular to their

[2020-06-27 15:32] rneher opened #582 "Frequency estimation fails with missing data."
**Current Behavior**
when the metadata can't be parsed into numerical dates, frequencies fail as reported here:
https://github.com/nextstrain/ncov/issues/446

We need to make sure that frequency estimation either fails or gracefully handles missing data points.

[2020-06-27 15:34] rneher commented on #582
the problem is here:
https://github.com/nextstrain/augur/blob/master/augur/frequencies.py#L97
when numpy attempts to compute a mean of `None`.
`None` is returned from here:
https://github.com/nextstrain/augur/blob/master/augur/utils.py#L132

[2020-06-27 16:19] #571 closed

[2020-06-27 21:07] biocyberman opened #583 "Understand mutations produced by augur"
I guess this has much to do with how `treetime` works, but haven't got enough time to check it out thoroughly. So I would like to get some help to understand the mutations reported by augur. This is important to us to interpret the results on `auspice`.

I composed a test script (`check_muts.py`), run command (`run_check.sh`) and example output (`check_muts.txt`) in this gist: https://gist.github.

[2020-06-29 13:12] swarris commented on #574
I took me about a day and an inspection of the source code to find out why it would not load my tab delimited file.... Apparently because the code assumed a comma, not a tab... Without informing me. Also the documentation has no mentioned about this. Please remove this separator switch, or at least inform the user about this.

[2020-06-29 15:03] emmahodcroft commented on #583
Hi @biocyberman , thanks for reaching out and I hope I can help!

1. For fasta-input runs, the reference sequence is used to align the sequences (and usually the same one is used to provide translation information - gene annotations etc - but this doesn't necessarily have to be the same sequence). It can also be used to root the sequence (but again, it doesn't have to be the same) an outgroup migh

[2020-06-29 19:42] biocyberman commented on #583
Hi @emmahodcroft
=> 1.  Thanks for clarification and also confirming my inference, that sequence of the root of the tree is not the same as reference sequence. This however making interpretation the mutations on tree harder: Those mutations are not always 'real' mutation. By 'real' I mean by comparing directly to the reference sequence. I would say this is a big thing that many people who look at

[2020-06-30 00:51] huddlej opened #585 "Add documentation for frequencies methods and interface"
[As pointed out recently on the Nextstrain discussion board](https://discussion.nextstrain.org/t/augur-frequencies/49), the augur frequencies interface does not have any documentation explaining how the different methods work, what the parameters mean, or how to interpret the output.

One possible solution would be to create a tutorial for analyzing the frequency of influenza mutations using the d

[2020-06-30 17:53] emmahodcroft commented on #583
Hi @biocyberman !

1. So it's fairly normal in a phylogenetic context that mutations are relative to the root of the tree. As a reference sequence could be chosen from anywhere on the tree - in EV-D68 we choose it from a relatively recent tip, as we don't have very many good quality older sequences. So then, the mutations being relative to a reference doesn't really make sense - at least not in a

[2020-07-01 02:17] huddlej opened #586 "Provide options to handle duplicate sequences more gracefully in augur filter"
**Current Behavior**

When a user runs `augur filter` with a FASTA file of sequences that contains any duplicate sequences (by strain name), augur prints an error and exits with a nonzero exit code.

**Expected behavior**

It would be nice if the filter command provide users with options to more gracefully handle duplicate sequences as a type of filter. For example, in a common use case users will

[2020-07-01 10:29] biocyberman commented on #583
Hi @emmahodcroft
=>1.  How stable is the inferred root sequence? In what case will it change? The script I wrote already can compute mutations relative to reference to compare with mutations relative to root sequence.

=> 2. You are right, position `23731` changes twice, and not many times for that position. What I meant when I wrote earlier is that this flipping happens to others positions and in

[2020-07-02 11:08] emmahodcroft commented on #583
Hi @biocyberman -

1. The root sequence may change, just like the tree, as it'll depend on where the branches happen at the root. I can't say how much this happens, as I haven't looked into it, and we wouldn't expect major changes.

2. I had a look at the Uganda sequence you referenced. However, we have multiple sequences from around the world that show these same two mutations -
Position 14408: h

[2020-07-03 20:00] #576 closed

[2020-07-07 06:49] groutr commented on #465
@huddlej I'll take a look at this.

[2020-07-07 17:18] #574 closed

[2020-07-07 17:30] huddlej commented on #574
We're sorry about the headaches caused by the original delimiter detection, @swarris! This issue should now be resolved in the `master` branch and will be part of our next release (v 10.0.0). If you find that these changes don't fix the problem for your data, you can reopen this issue and we'll follow up with you.

[2020-07-07 17:49] huddlej commented on #72
@danielsoneg I'm reviewing older issues and came back across this one. We had [talked way back in April about resolving this with an `--mask-invalid-sites` flag](https://github.com/nextstrain/augur/pull/459#issuecomment-605367604) for `augur mask` after the refactor you implemented.

Would you still be interested in adding support for this flag? I totally understand if you are burned out on augur

[2020-07-07 17:56] huddlej commented on #539
Closing this as there does not seem to be a bug, per se. Please reopen this issue, though, @Darkless012, if you find that this strict cvxopt version does cause a bug in running augur.

[2020-07-07 17:56] #539 closed

[2020-07-07 18:23] huddlej commented on #465
Thank you, @groutr!

[2020-07-08 13:19] dpark01 opened #589 "augur tree fails on small inputs when --nthreads=auto"
**Current Behavior**
Running `augur tree --nthreads=auto` on very small input data sets will cause iqtree to fail when running on large VMs/machines, with the following error from iqtree:

```ERROR: b'ERROR: Too many threads for short alignments, please reduce number of threads or use -nt AUTO to determine it.\n'```

**Expected behavior**
This should not fail, but should auto-scale thread count ap

[2020-07-09 09:37] andreott opened #591 "Error in translate.py from vcf"
When using translate for vcf an error comes up for the sequence length not being a multiple of 3. However this test is performed for the source feature. Probably the  `if feat.type != 'source':` should be placed at the outer loop level, e.g.

    for fname, feat in features.items():
        if feat.type != 'source':
            if is_vcf:
                trans = translate_vcf_feature(sequences, re

[2020-07-10 04:09] shashibioinfo143 commented on #566
Dear @emmahodcroft ,

Thank you for your response the issue is resolved

[2020-07-10 08:58] emmahodcroft commented on #566
Good to hear!

[2020-07-11 20:27] danielsoneg commented on #72
Hey @huddlej, sorry, I got distracted this week 😅 - just opened #592 that fixes this.

[2020-07-15 02:50] #72 closed

[2020-07-15 04:07] jameshadfield opened #594 "Rewrite zika tutorial to incorporate content from the nextstrain.org version"
We currently have two similar, but diverged Zika tutorials: nextstrain.org/docs/tutorials/zika and https://docs.nextstrain.org/projects/augur/en/stable/tutorials/zika_tutorial.html. The source code for the former is [here](https://github.com/nextstrain/nextstrain.org/blob/master/static-site/content/docs/03-tutorials/01-zika.md) and the latter [here](https://github.com/nextstrain/augur/blob/master/

[2020-07-15 21:02] DanLesman commented on #328
I encountered the same error and adjusted AUGUR_RECURSION_LIMIT. However, iqtree's .ckp.gz checkpoint file seems to have been removed so the tree building has to restart. Is there any way to make it so that the checkpoint file is retained until after all the code executes?

[2020-07-19 00:40] groutr commented on #465
@huddlej Hi. I've been looking at this in my free time over the past week or so and simply wanted to sketch out what improvements I felt were needed to make sure they are aligned with the goals of the project before I invest more time in them.

1) Indexing: There seem to be a few places where we essentially build and index of the sequences just to perform a single operation (see https://github.com

[2020-07-22 06:33] tsibley commented on #328
@DanLesman Relevant code is:

https://github.com/nextstrain/augur/blob/4c474a96232e9cc333e3fc4c0971336a090b703c/augur/tree.py#L184-L194

I think we'd be receptive to a patch exposing the `clean_up` function parameter of the `build_*` functions as a pair of `--cleanup / --no-cleanup` command-line flags. (Or a different name might be better; haven't thought about it.) Flagging @huddlej and @emmahodc

[2020-07-22 16:53] huddlej commented on #465
Thank you for this summary, @groutr! I'll review this and post some comments by the end of the week.

[2020-07-28 16:22] mesti90 opened #597 "Augur refine"
Is it possible to run augur refine with multiple threads? If not, it would be very useful, as this step seems to be a bottleneck in the nexstrain pipeline.

[2020-07-28 17:22] tsibley commented on #597
Hi @mesti90, unfortunately it is not possible to trivially parallelize `augur refine` due to the current internal design of TreeTime (which is what `augur refine` uses). There's discussion of both parallelization and speeding up the algorithmic bottlenecks over at https://github.com/neherlab/treetime/issues/110.

[2020-07-28 17:22] #597 closed

[2020-08-07 19:20] #589 closed

[2020-08-12 18:42] huddlej opened #602 "filter: support filtering of ambiguous dates"
**Context**
The augur filter command currently [supports filtering by min and max date](https://github.com/nextstrain/augur/blob/8b6f950a169cd12b4252a1a1b507662bae8a6ec2/augur/filter.py#L234-L244), but it does so by converting any potentially ambiguous dates to reasonable date ranges before applying the filter. A common use case with augur is to exclude these ambiguous dates completely from an ana

[2020-08-14 16:46] joverlee521 commented on #575
Just wanted to chime in that I'm also seeing this bug when running the Seattle Flu builds.

[2020-08-18 17:26] groutr commented on #465
@huddlej any update on this?

[2020-08-19 07:41] jtboing commented on #602
Hello. May I ask what constitutes ambiguous dates? Are these just dates with missing values or just wrongly formatted dates?

[2020-08-19 23:46] jameshadfield commented on #602
👍 I'd be in favor of exposing arguments here, e.g. `--exclude-ambiguous-dates months` or `--exclude-ambiguous-dates days` as often I want to avoid the former and include the latter, depending on the dataset.

[2020-08-20 09:42] emmahodcroft commented on #602
@jtboing What we normally mean with ambiguous dates are dates like the following (if a 'correct' date is like this: `2020-05-30`
- `20XX-XX-XX`
- `2020-XX-XX`
- `2020-06-XX`

These are all format we accept, and will 100% work in the pipeline (we'll try to infer such dates). For many organisms we really need to include them, as we'd have almost no sequences without them! But for some analyses (like

[2020-08-22 04:17] jameshadfield opened #607 "Allow multiple metadata files as input to `--metadata`"
**Context**

Currently we mandate the metadata file used by augur filter, frequencies, titers, traits, refine & export (and others) to take a single TSV or CSV. The function `read_metadata`, which the above commands use, is also commonly imported into scripts. The first argument to this function is a str, path object or file-like object.

**Description**

This design requires the user to have coll

[2020-08-24 22:58] huddlej opened #608 "Add support for one or more sequence files as input to subcommands"
## Proposed feature

Add support for one or more sequence files as input to subcommands. As we plan to support multiple inputs to `--metadata` arguments in the future, we should support multiple inputs for the `--sequences` arguments that often accompany the metadata arguments.

## Background

Historically, the `parse` command has been our entry point to Nextstrain builds because we did all the he

[2020-08-24 23:00] huddlej opened #609 "Accept metadata in Microreact format"
## Proposed feature
Add support for Microreact’s metadata format to `read_metadata` function.

The metadata reader function / class should be able to extract metadata stored in different formats. [Microreact metadata](https://microreact.org/instructions) uses names like  `<NAME>__colour`, `year`, `month`, `day`, `latitude`, `longitude`. This is a common format in our field and it would be useful t

[2020-08-24 23:03] huddlej opened #610 "Format metadata in a tagged data format (e.g., JSON-LD)"
## Proposed feature

Consider using [JSON-LD](https://json-ld.org/) for data type annotations and linking, as this also enables semantic tagging for fields which is what can enable further automatic processing of metadata beyond just “how is this date formatted”. The format we should doesn’t have to be JSON-LD per se; any tagged data format in the same vein could do, and there are variants for CSV

[2020-08-24 23:07] huddlej opened #611 "Allow users to override default columns names in metadata instead of using hardcoded column names"
## Proposed feature

Convert currently hardcoded column names in the metadata schema to defaults that can be overridden by the user. For example, this would make the default location fields `latitude` and `longitude`, but it would allow users to specify their own fields with `--location-fields lat lng` or something similar.

## Related issues

Adding support for more sophisticated metadata as in #

[2020-08-24 23:26] jameshadfield commented on #609
There's also some decisions to be made regarding lat/longs & colours. One common approach to metadata (shared by MicroReact) is to assign lat/longs for each sample, whereas we (Nextstrain) associate lat/longs with a particular deme (values of a geo-resolution). In my MicroReact parsing scripts I've supplied the script with a list of geo-resolutions, collected the lat/longs for each sample in a par

[2020-08-26 05:43] jameshadfield opened #612 "Ancestral state reconstruction infers ambiguous tip states by default, contrary to documentation"
The current documentation for `augur ancestral` (augur v10) makes it clear that ambiguous sites are not reconstructed by default:

[code]

However this is not the case. Internally, the salient variable is `args.infer_ambiguous` and the current behavior is:

| CLI Argument (s)        | `args.infer_ambiguous`         | Behavior Expected?  |
| ------------- |-------------| -----|
| `--infer-ambiguous

[2020-08-26 07:42] emmahodcroft commented on #612
Tagging @rneher as I know this is something we discussed a lot, though I don't really remember which way we settled.

[2020-08-26 08:00] rneher commented on #612
the code doesn't specify an explicit default. We decided we wanted to infer ambiguous sites by default to not change previous behavior. Otherwise I would opt for not reconstructing them by default.

[2020-08-26 15:35] madhuribelekar commented on #566
Traceback (most recent call last):
  File "/root/miniconda3/bin/augur", line 8, in <module>
    sys.exit(main())
  File "/root/miniconda3/lib/python3.7/site-packages/augur/__main__.py", line 10, in main
    return augur.run( argv[1:] )
  File "/root/miniconda3/lib/python3.7/site-packages/augur/__init__.py", line 74, in run
    return args.__command__.run(args)
  File "/root/miniconda3/lib/python3.

[2020-08-26 15:38] madhuribelekar commented on #566
Hiii,

Why I am getting above error?
Please help me to resolve this.

Thanks
[metadata mha.xlsx](https://github.com/nextstrain/augur/files/5130915/metadata.mha.xlsx)

[2020-08-26 20:31] huddlej commented on #612
Since this is an issue of how the defaults are documented rather than which defaults we use, I'd vote for not changing the default behavior to address this issue.

I'd recommend changing the argument setup such that the help documentation prints the correct information and the code is clearer to read for us as maintainers. Specifically, I'd make the changes in the following patch such that:

 - th

[2020-08-26 21:44] jameshadfield commented on #612
Thanks @huddlej -- this seems good to me. From the user's perspective, the only change is to the following help documentation which now matches the (unchanged) behavior:

[code]

[2020-08-26 22:07] huddlej commented on #608
I forgot that we already implemented a [`read_sequences` function](https://github.com/nextstrain/augur/blob/4dd1a3603894007e4fb417627274b464d7ae5488/augur/align.py#L178-L192) that takes one or more filenames and loads all distinct sequences into a list. Supporting multiple sequence file inputs would then be a matter of calling this function from the augur subcommands where we wish to support multi

[2020-08-27 17:05] #612 closed

[2020-08-27 21:38] jaredroach commented on #575
I had the same problem as was mentioned in (nextstrain/ncov#426), in that I was getting this error as well:
     AttributeError: 'Clade' object has no attribute 'country_exposure_confidence'
The link mentioned by @jameshadfield in (nextstrain/ncov#426) to fix the Augur code was broken (https://github.com/nextstrain/ncov/blob/master/rules/builds.smk#L823). However, I fixed my problem by adding in v

[2020-09-15 21:40] huddlej opened #616 "augur parse silently drops metadata from records with duplicate strain/name fields"
**Current Behavior**

augur parse reads in sequence data, parses metadata from FASTA headers, and [indexes each sequence by the name field it finds in the FASTA headers](https://github.com/nextstrain/augur/blob/efcc8be3bcf72ab4beb237afcc5b4b002bbaa806/augur/parse.py#L123). When the input data have different records with the same strain name, this behavior causes:

* all duplicate sequences to be w

[2020-10-11 20:44] jameshadfield opened #617 "Branch lenghts of mutations should be integers"
Currently `augur refine --divergence-units mutations` produces branch lengths which aren't integers (e.g. see https://nextstrain.org/ncov/global/2020-10-01?m=div). This becomes confusing, and we've had various questions along the lines of "what does a sample with 16.66 mutations mean?"

This issue proposes that the output here mirrors the number of (inferred) mutations between the root & the node.

[2020-10-15 07:02] ammaraziz opened #619 "Unable to run ModelTest (augur tree)"
**Current Behavior**
The documentation states if `none` is specified for the `--substitution-model` flag, `ModelTest` will run to determine the most appropriate model. However, an error is produced:

The available choices do not include `none`.

**How to reproduce**
The command I ran:

    augur tree -a input.fasta -o output.tree --method iqtree --substitution-model none --nthreads n

**Possible s

[2020-10-16 07:53] ammaraziz commented on #619
On a related issue, the output to the terminal for running `ModelTest` via `--substitution-model none`:

This isn't possible due to the above issue. (`argparse` doesn't seem to have any option to allow non-predefined arguments but a hack is possible using a function to capture and split the string). The solution I found (without modifying `tree.py`) was to use the existing `--tree-builder-args` ar

[2020-10-21 23:01] huddlej commented on #617
This was resolved by #618.

[2020-10-21 23:01] #617 closed

[2020-10-26 22:25] huddlej opened #622 "filter's priority argument is not clearly documented"
Our documentation (including the augur command line help itself) lacks examples of priorities file that could be used by `augur filter --priority`. At the least, we should communicate that:

  - the format of the priorities file is "sequencename<tab>priority"
  - higher numbers are higher priority
  - the numbers can be arbitrary and are only evaluated relative to each other

It would be nice if w

[2020-10-27 11:32] emmahodcroft commented on #622
Thanks for making an issue on this @huddlej !

[2020-10-27 12:08] saikirankv commented on #602
@huddlej @emmahodcroft  can I take this issue?

[2020-10-27 12:20] emmahodcroft commented on #602
Yes! I don't believe there's been any progress on it but it would be great to address!

[2020-10-27 18:18] huddlej commented on #602
Thank you for volunteering to work on this issue, @saikirankv! We have not discussed this further as a team since @emmahodcroft's last comment, but the solution she describes would be a great one to implement.

This would also be a great opportunity to do some test-driven development by adding appropriate tests to `tests/test_filter.py` for the different scenarios @emmahodcroft describes above and

[2020-10-29 11:46] saikirankv commented on #602
@emmahodcroft @huddlej how can I get sample data files?

[2020-10-29 14:22] saikirankv commented on #602
nvm, I found the test file, started working on it.

[2020-10-29 17:38] saikirankv commented on #602
@emmahodcroft @huddlej  can you review the PR, I'll add tests for them. I made changes to get_numerical_dates util method.

[2020-11-02 17:49] WhalleyT opened #624 "Conda installation error in miniconda Dockerfile"
**Current Behavior**
I am trying to build a Docker container [here](https://github.com/WhalleyT/augur_conda_error) and it will not build. It failed with initial frozen solve, then when it tries the flexible solve it times out (usually after 5-10 minutes) trying to find the shortest confict path.

**Expected behavior**
The container to build!

**How to reproduce**
Steps to reproduce the current beh

[2020-11-02 21:31] jameshadfield commented on #624
Slightly tangential, but https://github.com/nextstrain/docker-base/ will build a docker image with Augur, Auspice and a bunch of other tools inside it!

[2020-11-02 22:15] WhalleyT commented on #624
Brilliant, thank you! That definitely provides a workaround for me. Likewise, the pip installation seems to work okay within a Docker build.

[2020-11-04 16:52] huddlej commented on #624
The Docker image that @jameshadfield recommends is the best way to get the latest version of Augur in a Docker image.

That said, I'm interested in the approach you're taking here. Two thoughts about how to fix this issue:

1. Swap the order of the "bioconda" and "conda-forge" channels in the environment file. [Bioconda expects conda-forge to be the highest priority channel](https://bioconda.githu

[2020-11-04 16:58] WhalleyT commented on #624
Hi @huddlej,

I'll give those both a go and see how it goes. Will get back to you shortly. Thanks!

[2020-11-04 17:00] huddlej opened #626 "Travis CI environments for Python 3.x all use Python 3.6"
## Current Behavior

Our Travis CI runs one build for Python versions 3.6, 3.7, and 3.8 for each branch and PR. Even though [the global Python version for each build is the expected 3.x](https://travis-ci.com/github/nextstrain/augur/jobs/427822558#L174), the conda environment used to run the build [always installs Python 3.6](https://travis-ci.com/github/nextstrain/augur/jobs/427822558#L2244).

##

[2020-11-05 13:49] WhalleyT commented on #624
Thanks, @huddlej, both attempts resolved the environment. Thank you for your help, especially for point me to micromamba, that's going to be very useful.

[2020-11-05 13:49] #624 closed

[2020-11-05 16:36] huddlej commented on #624
That is excellent news, @WhalleyT. Thank you for testing out these approaches!

[2020-11-10 19:25] huddlej opened #630 "Support reading compressed sequence inputs"
## Context

When working with large datasets (like the SARS-CoV-2 genomes), it becomes necessary to store these data in compressed formats like gzip or bgzf. Augur currently only accepts uncompressed FASTA files, though.

## Description

Augur should support reading compressed FASTA sequence inputs so users do not need to keep decompressed sequences on disk.

## Examples

In the ncov workflow, we

[2020-11-12 06:51] mesti90 opened #632 "Augur refine multiple threads"
Would it be possible to use multiple threads with augur refine?

[2020-11-12 09:50] emmahodcroft commented on #632
Currently the code is not multithreaded so this isn't possible. `augur refine` uses [TreeTime](https://github.com/neherlab/treetime), and there are some efforts to help improve TreeTime, if you are able/interested to contribute!

[2020-11-12 17:27] #602 closed

[2020-12-02 01:24] jameshadfield opened #635 "RFC: augur subsample command"
A common use case is versatile sub-sampling of datasets to suit a particular research question. The current best example of this is the (wonderful) SARS-CoV-2 pipeline which leverages a [augur filter rule](https://github.com/nextstrain/ncov/blob/master/workflow/snakemake_rules/main_workflow.smk#L352-L403), a [script to calculate priorities](https://github.com/nextstrain/ncov/blob/master/scripts/pr

[2020-12-14 19:29] trvrb opened #636 "Find iqtree executable"
**Context**

IQ-TREE 2.1.2 offers some significance performance improvement specifically for SARS-CoV-2 (http://www.iqtree.org/). However, it slightly changes some of it's command line options and changes the name of the executable from `iqtree` to `iqtree2`.

**Description**

I'd like `augur tree` to use `iqtree2` when it's available but to fall back to `iqtree` when it's not. This should offer a

[2020-12-14 21:46] jameshadfield commented on #273
Ran into this today so adding a message here as a reminder. John's summation ☝️ is still accurate I believe, although `--metadata` is optional!

[2020-12-15 23:02] huddlej opened #637 "Document all cases where Augur reads/writes sequences"
In preparation for refactoring Augur's logic to read/write sequences and then add support for compressed sequences, the following section documents which subcommands read or write sequences by their input argument and how those sequences are read/written.

## Places where Augur reads/writes sequences

* parse
	* sequences
		* BioPython `SeqIO.parse`, iterate through all sequences
	* output-sequenc

[2020-12-18 17:21] #637 closed

[2020-12-18 17:39] huddlej opened #639 "Add index subcommand to summarize sequence content"
**Context**

While discussing a new standardized interface for reading and writing sequences in augur, we realized that the only time we need random access to sequence inputs (e.g., through BioPython's `SeqIO.index`) is when `augur filter` needs to assess the nucleotide content of sequences.

Augur's filter steps could be substantially sped up if they only needed to  inspect metadata tables instea

[2020-12-18 19:12] huddlej opened #640 "Improve Augur error handling"

[2020-12-18 19:13] huddlej opened #641 "Improve Augur error handling"

[2020-12-18 19:20] #640 closed

[2020-12-18 19:45] huddlej opened #642 "Catch exceptions in the command line interface and print error messages to stderr"
Many augur commands can produce errors that manifest as Python exception tracebacks instead of more user-friendly error messages. As a rule, errors in augur Python modules should raise Exceptions and errors in augur command line interfaces should catch those exceptions and print helpful error messages to `stderr`.

For example, when I run the following filter command with an output directory that

[2020-12-19 04:06] huddlej opened #643 "Improve augur subsampling"
Logic to subsample sequences by metadata and other annotations has become more important and complicated. This logic currently lives in `augur filter` but we have considered a separate `augur subsample` command and other approaches to make subsampling faster, easier to add features to, and easier to maintain.

The following flow charts show examples of how an `augur index` command that generates s

[2020-12-20 20:06] jameshadfield commented on #642
Is the way to do this with a `augur`-wide exception handling (such as the way we handle [`RecursionError`](https://github.com/nextstrain/augur/blob/master/augur/__init__.py#L71-L77)) or by ensuring that the `run()` function in each augur file (which is essentially the subcommand) is one big `try`/`catch` block?

[2020-12-21 03:44] Bost commented on #626
Try to specify the python versions at the top level. See https://docs.travis-ci.com/user/languages/python/#specifying-python-versions

And - if that's your case, try to disable parallel execution just to simplify the bug hunting. See https://blog.travis-ci.com/2019-08-07-extensive-python-testing-on-travis-ci

[2020-12-21 13:43] #518 closed

[2020-12-21 19:24] huddlej commented on #642
Either of those approaches could work. Ideally, augur would provide enough details in the error message(s) for users to quickly correct the problem. In the example above, a helpful message would be:

[code]

Actually, we could choose to handle this example by creating missing output directories for users like Snakemake does.
If one of the inputs were missing instead, a helpful message would be:

[

[2020-12-21 20:06] tsibley commented on #642
Yes, :100: to this.

There is some benefit to not auto-creating output dirs, as it avoids sending output to an unintended place (e.g. due to typos during interactive use). I think of this as akin to a programming language requiring that variables are declared and initialized before first-use. Especially as Snakemake and other workflow systems will typically do the auto-creation, I think nicer to k

[2020-12-21 21:14] huddlej opened #644 "Support compressed sequences"

[2020-12-21 21:18] huddlej opened #645 "Define tests for sequence read/write interface"
## Use cases

1. open one FASTA by name or handle and iterate through each record
2. open one FASTA by name or handle and select specific individual records
3. open one or more FASTAs by name or handle and construct a list of unique records by name and sequence (deduplicating redundant records)
4. open one FASTA or GenBank file and select its individual sequence
5. open any of the above inputs fro

[2020-12-21 21:18] huddlej opened #646 "Refactor logic to read/write sequences into their own methods"

[2020-12-21 21:19] huddlej opened #647 "Update augur subcommands to use new read/write methods"

[2020-12-21 21:19] huddlej opened #648 "Define tests for reading/writing compressed sequences"

[2020-12-21 21:19] huddlej opened #649 "Add support for compressed sequences to read/write interface"

[2020-12-22 07:41] reyus2 opened #650 "Augur subcommands > augur traits > --confidence mugration. mistyped?"
If it is mistyped. fix this please.
mistyped words make people like me who is not an English native gets confused.

[2020-12-22 09:42] emmahodcroft commented on #650
Thanks! This is actually correct - the name come from a mix between 'mutation' and 'migration' as a way of calculating discrete traits. It's a recognised name in the field, but I can see how it's confusing for non-native speakers!

[2020-12-22 09:42] #650 closed

[2020-12-23 01:36] jameshadfield commented on #333
Closing this as (i) we're now up to v10 and (ii) docs are now unified at docs.nextstrain.org 😄

[2020-12-23 01:36] #333 closed

[2020-12-24 04:30] huddlej commented on #632
Closing this issue for now, since it is TreeTime-dependent and there are no plans to add multi-threading there at this point.

[2020-12-24 04:30] #632 closed

[2020-12-31 00:44] #645 closed

[2020-12-31 00:45] #648 closed

[2020-12-31 06:06] trvrb opened #654 "Filter: Errors out when there are more groups than requested sequences"
**Current Behavior**
I encountered this when running the latest `ncov` global build. It includes the command:
[code]

This is requesting 200 sequences from the "early" timepoint for Europe. However, this errors out with:
[code]

If I understand #629 correctly, I can fix this with `--probabilistic-sampling`. Okay, and this indeed fixes the issue. _However..._ I believe this shouldn't error out with

[2020-12-31 10:32] emmahodcroft commented on #654
I definitely agree we should probably change the error message to advise users to run again, using `--probabilistic-sampling`, but I'm hesitant to just go ahead without and error, taking the first 200 groups.

For having 208 groups and wanting 200 samples, this is pretty harmless, but if there were 500 groups and you wanted 200 samples, you could end up with pretty different sampling than you inte

[2020-12-31 10:50] rneher commented on #654
The thinking back then was that if the user requests fewer sequences with categories, that is an unfulfillable request should result in an error:

https://github.com/nextstrain/augur/pull/593#pullrequestreview-450841293

[2020-12-31 10:59] rneher commented on #654
I think we should get the probablistic subsampling released and flesh out the error message. We could also default to probabilistic sampling if there are too many groups. Seems less surprising then taking the first `X` groups. But I'd prefer an error.

[2020-12-31 17:46] trvrb commented on #654
I see what you mean @rneher and @emmahodcroft. Immediately I certainly agree with updating the error message to recommend probabilistic subsampling.

However, what happens now if you have a situation that looks like: `--subsample-max-sequences 200` and there are 150 groups? We make sure that each of the 150 groups is picked once. What happens with the other 50? I was assuming that this was determi

[2020-12-31 18:29] rneher commented on #654
I don't think that is what happens. I the former case, we get 150 sequences, one from each group. In the latter case, we get an error.

mainly so that we don't change default behavior as this is an addition to what was there before. But I agree that in most cases prob sampling is probably the desired behavior.

[2020-12-31 19:14] trvrb commented on #654
_Got it..._ this makes much more sense to me now. A couple thoughts then. I would have been less confused if instead of calling this `--probabilistic-sampling`, it was called something more like `--allow-fractional-sequences-per-group`, but I realize this is overly long. Also would be helpful to know from the command line interface that this is tied to `--subsample-max-sequences`.

Additionally, I

[2021-01-01 02:19] huddlej commented on #654
One concern was that it's easy for users to unknowingly request more groups than there are total samples requested. The only way users would find out that this is happening is for Augur to throw an error.

If the "probabilistic sampling" behavior should be the default, though, is there really a use case for enforcing the integer group sizes? This opt-in flag would require users to know enough abou

[2021-01-01 11:39] rneher commented on #654
I am not a sure `--integer` vs `--fractional` is more or less confusing. my suggestion would be to make a minor release NOW so that we avoid running into the subsampling problems we currently have in ncov. Then we can make it default in the next major release.

[2021-01-01 20:10] huddlej commented on #654
Ok, I just release augur v10.2.0 with probabilistic sampling.

[2021-01-01 20:12] emmahodcroft commented on #654
That would be brilliant John, and really help out our shepherds! Thank you!

[2021-01-01 21:52] trvrb commented on #654
So in Augur v11 when "--probabilistic-sampling" becomes default we'll keep the flag around in the command line interface, but it will no longer do anything? If it's removed in v11 it will break builds that have added "--probabilistic-sampling" in the meantime.

[2021-01-01 23:22] huddlej commented on #654
We can keep the flag in v11, label it as deprecated, and remove it in the next major version (v12). I think this is what we did with `--output-node-data` vs. `--output`.

It sounds like we want to push for this new default behavior sooner than later, though. If so, we could plan to release v11 with this change next week.

[2021-01-02 20:34] trvrb commented on #654
Makes sense. Copying @rneher's Slack comment here as well:

[2021-01-05 20:09] #626 closed

[2021-01-05 22:01] huddlej commented on #654
So, I accidentally pushed commits that should have been in a branch to `master` ([magit](https://magit.vc/) is awesome but sometimes too powerful for me!), but I've [added a `--no-probabilistic-sampling` flag](https://github.com/nextstrain/augur/commit/9c5242102dd837045977046697e6816bec00f902) and [added a deprecation warning for users who explicitly request the flag](https://github.com/nextstrain

[2021-01-06 02:24] trvrb commented on #654
No worries at all. Thanks for these additions John. My feeling is that it's legitimate to have both `--probabilistic-sampling` and `--no-probabilistic-sampling` flags. This is in line with  existing command line interface of `--covariance` vs `--no-covariance`. Ie I don't think that deprecated flag here 9d21aadde286428475fca595b21a5a775b87b6ef is necessary. If someone wants to explicitly flag the

[2021-01-06 02:27] huddlej commented on #654
I just reverted those two commits on `master` just to be safe (probably should have done that right away). I'll continue work on this including removing the deprecation warning over in [the PR referenced above](https://github.com/nextstrain/augur/pull/659).

[2021-01-14 18:00] huddlej opened #662 "Refactor date/time logic for converting between numeric and ISO dates"
## Context

As part of PR #660, Trevor noted:

We also define redundant `numeric_date` argument types in augur filter and frequencies.

## Description

Create a unified set of functions in `utils.py` for converting from ISO dates to numeric dates (`YYYY-MM-DD` -> `YYYY.FF`) and from numeric dates to ISO dates (`YYYY.FF` -> `YYYY-MM-DD`).

As part of this same work, create a single `numeric_date` a

[2021-01-14 22:51] jameshadfield commented on #662
Would be really useful. I find myself often writing snippets such as

[code]

[2021-01-19 13:13] haslamdb opened #663 "tip-frequencies.json format question"
First, thanks for an amazing suite of tools.

Problem:
I'm generating tip-frequencies.json using 'augur frequencies'. When I try 'augur export v2' (or v1) and include tip-frequencies.json I get an error (pasted below) which suggests the .json file is an array rather than a dictionary. If I remove tip-frequencies during export it works fine, even though I have a ton of other .json specified paramet

[2021-01-20 01:02] huddlej commented on #663
Hi @haslamdb! It looks like you're very close to having a working build. Unlike the "node data" JSONs that we collect into an augur export command, the tip frequencies JSON is considered a "sidecar" file by our visualization tool, Auspice. This means that the frequencies data are stored in a separate file that Auspice fetches after it loads the main tree and metadata JSON.

You can tell Auspice to

[2021-01-20 03:44] haslamdb commented on #663
John, thank you so much for your clear and detailed reply. That solved my problem. I know how busy you all are there now. Like many places we're ramping up ncov sequencing, and nexstrain is making it so much easier to understand this #*@& virus.  Again, many thanks.

[2021-01-20 03:44] #663 closed

[2021-01-20 22:11] #654 closed

[2021-01-21 18:35] huddlej opened #664 "Developer documentation lacks complete installation instructions"
Our current developer documentation (in `docs/contribute/DEV_DOCS.md`) lacks information about how to setup a complete development environment that includes bioinformatics tools like mafft, etc. that are required to test augur. This documentation is not prominent in the README nor is it accessible from the main RTD interface at docs.nextstrain.org.

To fix this issue, I propose that we:

  - Add a

[2021-01-21 20:02] huddlej commented on #630
Replaced by https://github.com/nextstrain/augur/issues/644.

[2021-01-21 20:02] #630 closed

[2021-01-21 20:04] huddlej commented on #476
Test coverage has improved so much thanks to the efforts here. I'm going to close this long-running issue in favor of smaller issues for specific modules that we'll work on in the future. Thank you all!

[2021-01-21 20:04] #476 closed

[2021-01-21 23:50] trvrb commented on #9
I think that the the YYYY-MM-DD "versioning" is going to be sufficient for most of our purposes here. For this issue, it may relate to how we were discussing persistent links to particular branches. However, at this point, I think that we could instead rely on planned work for mutation filtering to be able to have persistent links to particular sets of genomes.

I believe this issue can be closed.

[2021-01-22 05:52] trvrb commented on #430
I'm going to close this. We have a system for `ncov` with 4979 lat/long entries. We may think of a better approach here, but I don't think it's high priority.

[2021-01-22 05:52] #430 closed

[2021-01-22 05:55] trvrb commented on #377
I'm going to go ahead and close this issue. Author list looks not great in old V1 export. I don't think worth it going back and fixing this when we've moved on.

[2021-01-22 05:55] #377 closed

[2021-01-22 05:58] trvrb commented on #434
I hope you were able to resolve your problem @Stygiophobic. I'm closing this issue now, but please reopen if it's still an issue.

[2021-01-22 05:58] #434 closed

[2021-01-22 05:59] trvrb commented on #9
I think that the

[2021-01-22 05:59] #9 closed

[2021-01-22 06:02] trvrb commented on #522
Were you able to figure out a solution here @biocyberman? `distance.py` should indeed have this functionality, but I'm not sure where to point you to immediately.

[2021-01-22 06:03] trvrb commented on #575
This seems like a common enough edge case that it would be worth fixing, especially as the error provided is rather opaque.

[2021-01-22 06:07] trvrb commented on #454
I'm going to close this immediate issue as the real issue is as @huddlej says one of naming of Genbank reference sequences. I don't think high priority.

[2021-01-22 06:07] #454 closed

[2021-01-22 06:13] trvrb commented on #636
I just elevated this to "Product backlog" with the thought that providing `iqtree2` to users will be a significant performance improvement for little effort.

[2021-01-22 06:16] trvrb commented on #184
I don't think this needs to be dealt with any time soon, but I'd like to leave the issue open as prior art for thinking about multi-colorby implementation. Shelving in "icebox".

[2021-01-22 06:20] trvrb commented on #340
I think this is worth attending to at some point. There are a bunch of SARS-CoV-2 analyses that now want to work with just a more recent clade rather than a full tree. Here, these trees should still be rooted off of Wuhan-Hu-1/2019, but we'd like Wuhan-Hu-1/2019 removed during the `augur refine` step. But not urgent.

[2021-01-22 06:22] trvrb commented on #399
I'm going to close this issue. I'm not sure it's worth dealing with at this point.

[2021-01-22 06:22] #399 closed

[2021-01-25 14:22] emmahodcroft opened #665 "More complex 'exclude'"
**Context**
Often in `ncov` (and in other `ncov`-based builds) we exclude sequences because we believe the dates are wrong. However, once they go into the `exclude.txt` file, we have to manually remove them if the date is updated.

In some other scripts I use for other things, I've created a list that includes both the sequence name (`strain`) *and* the sequence date. They are only excluded if bot

[2021-01-25 21:24] sidneymbell opened #666 "Add phylogenetic uncertainty as a coloring option (i.e., branch support)"
In the spirit of communicating uncertainty (we should be able to just grab these values out of iqtree and pipe them through as a node attr, right?)

[2021-01-26 00:17] jameshadfield commented on #666
There's a few different ways that augur could export this information for display in auspice. I'd be open for extending auspice's functionality here as we have more examples.

1. Add a `branch_support` quantatative colouring, so that each node contains `node_attrs -> branch_support -> value -> X`. This will give you a rainbow colour scale. I used this approach for https://nextstrain.org/mers?c=pos

[2021-01-26 16:46] sidneymbell commented on #666
@trvrb -- Good point, thanks! Tried to transfer repos (bottom of the right sidebar) but it looks like I don't have the necessary permissions for the `augur` repo for some reason.

Re: bootstrap feasibility, yeah, that's a major issue for big trees. Perhaps one way to address this would be to add the a `--bootstrap` option to `augur tree`, with a warning if the tree has more than N samples?

@james

[2021-01-26 17:51] dpark01 opened #667 "augur tools do not recognize purely numeric strain IDs"
**Current Behavior**
If you provide input to any `augur` command where the sample IDs are all purely numerical (and match properly between the fasta headers and the `strain` column of the metadata tsv files), `augur` will fail to see the match between the metadata tsv and fasta files. Current workaround is to ensure sample names contain alphabetic characters.

**Expected behavior**
Numeric sample

[2021-01-26 18:04] emmahodcroft commented on #667
I ran into this at a pre-pandemic workshop, and can second that it seemed to be a problem that pandas loads `strain` as a number if all the characters are numbers, which then won't match the 'String' `strain`s from elsewhere.

[2021-01-26 18:05] rneher commented on #667
@huddlej: would fixing this be as simple as making sure `strain` or `name` are parsed as `str` here

https://github.com/nextstrain/augur/blob/master/augur/util_support/metadata_file.py#L91

i.e. smth like

`return df.astype{('strain': str})

[2021-01-26 21:41] tsibley commented on #667
`pandas.read_csv()` takes a `dtype` parameter you can use instead of calling `.astype()` later, which avoids ever converting to the wrong type.

You might also consider using the new `'string'` dtype instead the `'object'` dtype that you get by giving the `str` class.

[2021-01-27 12:25] jtboing commented on #664
Hello. If nobody is doing this, can this issue be assigned to me?

[2021-01-27 22:38] tsibley commented on #664
@jtboing It's yours!

[2021-01-29 14:55] jtboing commented on #664
Thanks! I have a question. For the second item, is there a preferred development environment? If there is none, then which one should I use an example command? or is there no need for an example here?

[2021-02-01 23:03] huddlej commented on #664
@jtboing For now, the preferred environment can be [the conda `nextstrain` environment](https://docs.nextstrain.org/projects/augur/en/stable/installation/installation.html#using-conda) plus [the editable installation of Augur with pip](https://docs.nextstrain.org/projects/augur/en/stable/installation/installation.html#install-from-source), although it's likely other folks on our team have a differ

[2021-02-02 01:33] jameshadfield commented on #664
A potential source of confusion with the current setup is naming the (empty) conda environment `nextstrain` and installing augur from source into that, as we maintain [a conda environment of the same name](https://github.com/nextstrain/conda) which [will install augur from pip](https://github.com/nextstrain/conda/blob/master/nextstrain.yml#L22).

I prefer to label the augur-from-source conda envir

[2021-02-03 02:31] dpark01 commented on #639
Alternatively: I think there are only two functions in `augur filter` that need to read actual sequence content: `--non-nucleotide` and `--min-length`. Why not just break out those two into a separate augur command entirely?

That new command could purely operate on fastas and would not even require any metadata.tsv input. (As an aside, the size of epicov these days pushed me to implement my own [

[2021-02-08 20:11] huddlej commented on #664
Those are good points, @jameshadfield. There is definitely still a lot of potential confusion. I think what you're describing is the bigger issue of providing a single (or reduced?) set of canonical installation instructions.

In the long-term, I'd like to replace the separate conda environment (and repo) with corresponding Bioconda packages. The current augur package in Bioconda gets us most of t

[2021-02-08 20:12] huddlej commented on #664
I just edited the original post to refer to an `augur` environment instead of `nextstrain`, for the dev instructions.

[2021-02-08 20:50] huddlej commented on #639
Thank you for sharing your filter approach in the WDL workflow, @dpark01. We would definitely like to get to metadata-only filtering for the same reasons you describe.

The `augur index` approach should help us get there while still maintaining backwards-compatibility of `augur filter` for people's existing workflows. The way we have implemented [the augur index prototype]((https://github.com/next

[2021-02-09 22:06] huddlej opened #670 "Bump cvxopt version to enable installation of latest wheels"
cvxopt is an optional dependency in the "full" installation of Augur and is currently pinned at an early version that no longer has pre-built wheels on PyPI. To allow the Nextstrain Docker base image to install Augur with the full dependencies from wheels (i.e., without recompiling from source), we need to bump the cvxopt version here to the latest available that works with the titer models (proba

[2021-02-09 22:49] huddlej opened #672 "Remove matplotlib and seaborn dependencies"
## Context

Augur supports [a "full" installation](https://github.com/nextstrain/augur/blob/8d69df645b2bfce8778861402ad5cf3a104d8fb3/setup.py#L59-L63) that installs optional dependencies including cvxopt, matplotlib, and seaborn. Although cvxopt is required for titer models to work (arguably a dependency that should be installed anyway), the plotting modules are only used in [an old titer model fu

[2021-02-09 22:52] #670 closed

[2021-02-11 22:23] huddlej opened #673 "Add augur index command and documentation"
In addition to adding the augur index command, make sure that documentation and workflows are updated to reflect this new command.

[2021-02-12 00:36] huddlej opened #674 "filter: Probabilistic subsampling randomly fails with small max sequences"
## Current Behavior

Infrequently, Augur functional tests will fail when [the augur filter probabilistic sampling function fails](https://travis-ci.com/github/nextstrain/augur/jobs/481107927#L3111-L3117). The augur filter command fails when [the probabilistic sampling Poisson logic randomly selects 0 sequences to output for all groups](https://github.com/nextstrain/augur/blob/fa5fa43d809a6074dfc6e

[2021-02-12 02:04] huddlej opened #675 "filter: Report number and names of sequences without metadata"
## Description of the problem

For each input sequence that does not have metadata, [augur filter prints the strain name to stdout](https://github.com/nextstrain/augur/blob/b2a313c0ba078dceea114577d9a04cdd3cbf9a63/augur/filter.py#L174). This logic effectively acts as a "has-metadata" filter that could be useful (or alarming) to users. The number and list of strains that do not have metadata are al

[2021-02-12 14:20] #639 closed

[2021-02-14 01:43] #674 closed

[2021-02-16 01:00] jameshadfield opened #680 "[augur filter] allow `--subsample-max-sequences` without `--group-by`"
Currently using `augur filter`'s `--subsample-max-sequences` argument isn't used unless a `--group-by` argument is also specified, as the argument is only used [if this conditional is met](https://github.com/nextstrain/augur/blob/master/augur/filter.py#L314):

[code]

The desired functionality for the case where `--subsample-max-sequences` is set but `--group-by` is not is to group all samples int

[2021-02-16 01:08] huddlej opened #681 "Report filter counts by category even when all samples are dropped so users know which filters dropped the most records"

[2021-02-16 17:35] huddlej opened #683 "filter: make date-based bounds inclusive instead of exclusive"
## Current Behavior

[Filtering by min or max date excludes records whose date exactly matches the given bounds](https://github.com/nextstrain/augur/blob/f256227d68bb1d50f475d71d15b5f89d8ded6e39/augur/filter.py#L287-L290).

## Expected behavior

The "max date" filter should include records up to _and including_ that latest date. The "min date" filter should behave the same way, for consistency.

#

[2021-02-16 17:55] rneher commented on #683
I guess the python solution would be to use `>=args.min_date` and `<args.max_date`?

For arguments like `args.max_date='2020-12-23` we have an inherent accuracy limit of 1 day and we end up running into time zone issues. The `ncov` pipeline would yield different results in NZ and in Seattle... not sure we want to get into that.

[2021-02-16 19:28] huddlej commented on #683
We already use `datetime.today()` in our ncov workflows, so I don't think this would change our time zone issues.

This change doesn't really cost us anything, but we get a big usability win for the use case James described. Most of our builds rely on `datetime.today()` to set upper bounds and it seems like we should include sequences from that given day rather than exclude them.

An even friendly

[2021-02-16 19:30] tsibley commented on #683
Unless we're truncating from timestamps to dates, I would expect dates to be fixed regardless of TZ. If they're not, I'd consider that a bug. This can happen if dates are treated as timestamps (often at midnight), which they're not. TZ-less dates are how all datetime handling libraries I've seen work (including Python's `datetime.date` class) and how ISO 8601 treats them.

Regarding date ranges, w

[2021-02-16 20:06] rneher commented on #683
agreed on all counts. Dates should be fixed regardless of time zone. But there is always going to be some ambiguity. Since we aren't keeping track of TZ, the result of `max-date=today` might differ even when the analyses are run at the exact same time depending on your TZ.

that aside, most people probably expect the behavior: `[2020-12-01, 2020-12-31]`

and if this is explicit in the help that is

[2021-02-16 23:05] tsibley commented on #683
Agreed re: best quick solution and expected behaviour.

[2021-02-17 00:30] Dimitralex opened #685 "ERROR: skyline optimization by TreeTime has failed."
**Current Behavior**
I have been running a very large nextstrain build with the subsampled sequences being around 12,800.  I have been running these on a cluster and computation has taken days.  However, in the **augur refine** job of the process, I got the following error (Note: I could not get a traceback of the error as I was not running it on my machine):

ERROR: skyline optimization by TreeTi

[2021-02-17 01:27] Dimitralex commented on #685
One thing I tried for now is the following:

In _workflow/snakemake_rules/main_workflow.smk_   , I changed the parameters fed into the augur refine process and set --coalescent opt.  If this does not work I will try deleting the --coalescent command.  Not too sure if I am causing other problems though.

[2021-02-21 06:44] jtboing commented on #664
Hello. I have made pull request #686 with the required additions. Please notify me if further changes or corrections are needed in the documentation. Thanks.

[2021-02-24 08:54] rneher commented on #685
This error is due to failures to optimization the coalescent skyline in your very large analysis. The optimizer from scipy hits its default limit of the number of iterations. One could either go in and increase this limit, or work with `opt` as you suggest.

[2021-02-25 09:56] Dimitralex commented on #685
Thank you!  Using opt ended up working for me.

[2021-02-25 09:57] #685 closed

[2021-02-25 22:19] huddlej opened #688 "Include functional tests from cram in coverage reports"
## Context

Coverage reports from pytest help us identify large gaps in our tests. Functional tests written in Cram aren't currently reflected in coverage reports, but they likely cover code that isn't covered by unit tests.

## Description

Ideally, Cram's coverage could be merged with the pytest coverage prior to uploading to the CodeCov service.

## Possible solution

 1. Generate [coverage fro

[2021-03-06 23:44] trvrb opened #691 "Flag use of GISAID data in exported Auspice JSON"
**Context**

Currently, we look at URL via Auspice searching for nextstrain.org/ncov to know to insert "enabled by data from GISAID" into the byline (https://github.com/nextstrain/auspice/blob/master/src/components/info/byline.js#L26). However, this pretty limiting and there are emerging pages via `/groups` and `/community` that are using GISAID data.

**Description**

I think we should allow anot

[2021-03-07 09:57] rneher commented on #691
I think this is a good direction, but I'd rather have this more generic. For example
[code]

[2021-03-07 10:03] emmahodcroft commented on #691
I think this would be very useful, but think Richard's idea is a good one, this would leave open to other possibilities of acknowledgement in the future, if desired.

[2021-03-07 21:25] trvrb commented on #691
Great idea @rneher. Perhaps in this case we'd want an array? I could imagine entries like:
[code]
Do we want this to be free-form or would it be a restricted library of options? There could be entries like:
[code]
for Ebola. And in this direction, you could imagine asking for full URLs so others can better track down data. The above would then be:
[code]
Or if we wanted to get to the point of auto

[2021-03-07 21:42] rneher commented on #691
I'd probably opt for the most expressive solution. Seems most future proof.

[2021-03-08 18:36] #681 closed

[2021-03-10 20:08] huddlej commented on #691
What if the data provenance was an annotation in the metadata itself (e.g., the `db` column of [the Zika metadata](https://github.com/nextstrain/zika-tutorial/blob/master/data/metadata.tsv))?

These annotations could allow Auspice to determine the data source attributions from the metadata itself and save us from manual curation of an Auspice config file that could get out of sync with the data (f

[2021-03-12 18:14] huddlej opened #692 "distance: Count indels as single events"
**Context**

When calculating distances between sequences with insertion or deletion (indel) events, augur distance currently counts each mismatch in a single indel event as separate events. Biologically, this implementation does not make sense, as indels are most likely the result of a single mutational event.

For related discussion, see [the PR to add mutation counts to the ncov workflow](https

[2021-03-12 18:31] huddlej opened #693 "distance: Allow users to ignore specific characters in all distance calculations"
**Context**

When calculating distances between sequences, augur distance currently counts all mismatches toward the total distance based on weights in the distance map. However, we often want to ignore mismatches between ambiguous characters such as `N`s for nucleotide sequences and `X`s for amino acid sequences. While users can technically accomplish this behavior by defining a sequence-specific

[2021-03-12 18:43] huddlej opened #694 "distance: Allow users to ignore specific characters in all distance calculations"
**Context**

When calculating distances between sequences, augur distance currently counts all mismatches toward the total distance based on weights in the distance map. However, we often want to ignore mismatches between ambiguous characters such as `N`s for nucleotide sequences and `X`s for amino acid sequences. While users can technically accomplish this behavior by defining a sequence-specific

[2021-03-12 18:45] huddlej commented on #694
Duplicate of #693 caused by GitHub server issues.

[2021-03-15 22:34] #622 closed

[2021-03-17 21:28] huddlej opened #699 "Reduce metadata memory usage in augur filter"
**Current Behavior**

While profiling memory usage for Nextstrain's SARS-CoV-2 workflow, I was surprised to find that `augur filter` rules consumed >2 GB of memory per job. Through memory profiling with [the memory_profiler package](https://pypi.org/project/memory-profiler/), I found that the majority of this memory usage was caused by reading in the ~165 MB metadata input with the `read_metadata`

[2021-03-17 21:54] jameshadfield commented on #699
Given that `read_metadata` is in `augur.utils` we could keep it around, with a deprecation warning, whilst building a new memory-efficient function in `augur.io` and then transitioning our augur code to the latter.

[2021-03-17 23:15] huddlej commented on #699
That sounds like a great plan. I'm happy to see how widespread `read_metadata` is (in our own scripts, at least).

[2021-03-18 01:45] jameshadfield opened #700 "Running tests produces untracked files"
Running tests via `bash run_tests.sh` creates the following files which are not tracked by git:

[code]

Augur commit 84f0f64 (v. 11.2.0)

[2021-03-18 17:52] trvrb commented on #691
I see what you're going for here John. But I think a more manageable initial solution is the
[code]
block in the Auspice JSON. This would be manually updated for the moment, but could be something that's eventually automatically generated from `metadata.tsv`.

[2021-03-18 18:09] dpark01 commented on #691
This generalized approach sounds great to me. So then what does the expression for GISAID look like then?
[code]
And auspice would turn that into a "enabled by data from `[name](url)`" unless `image` was defined in which case it becomes "enabled by data from `[image](url)`"?  (or actually a comma separated list of data_provenance entries)

[2021-03-18 18:18] trvrb commented on #691
Excellent point. I was imagining that we'd special-case a situation of `data_provenance.name = "GISAID"` to automatically replace with the GISAID logo. Other name/url pairs would just be linked text. So a hypothetical:

[code]
would be "Enabled by data from ((GISAID)) and COG UK" where "((GISAID))" is the logo that links to gisaid.org and "COG UK" is text that links to https://www.cogconsortium.uk

[2021-03-18 18:23] dpark01 commented on #691
Yeah I think either GISAID gets special treatment in this spec or it doesn't, so it's either something like I originally proposed (where even the image url is fully described.. but then yes... dimensions) or it could be as simple as:
[code]
No point asking the user to supply the URL to GISAID if we're already supplying the logo.

[2021-03-18 22:16] huddlej commented on #647
Closed by #652, with as many subcommands supported as we need initially.

[2021-03-18 22:16] #647 closed

[2021-03-18 22:16] #673 closed

[2021-03-18 23:03] #646 closed

[2021-03-18 23:03] #649 closed

[2021-03-18 23:06] huddlej commented on #594
This has been partially resolved by [removing Augur's Zika tutorial in favor of the current docs.nextstrain.org version](https://github.com/nextstrain/docs.nextstrain.org/pull/48). However, there is still [an open issue to rewrite the original Augur version](https://github.com/nextstrain/docs.nextstrain.org/pull/50) which is Snakemake-based and a useful next step after the introductory tutorial.

[2021-03-18 23:06] #594 closed

[2021-03-19 16:57] #700 closed

[2021-03-19 18:06] #691 closed

[2021-03-21 20:25] rneher opened #706 "Support reference alignments by mafft and nextalign"
Augur's `align` command currently only support `mafft` called as

`mafft --reorder --anysymbol --nomemsave --adjustdirection --thread`

and the possibility to add to an existing alignment with the option `--add`. The latter is not recommended for reference alignments (https://mafft.cbrc.jp/alignment/software/closelyrelatedviralgenomes.html).

Augur `align` actually produces reference alignments fr

[2021-03-26 17:35] huddlej commented on #693
After thinking about the possible solutions proposed above, I've decided that storing the ignored characters configuration in the distance maps is the most flexible solution. Here are some potential tests for this new functionality:

[code]

@benjaminotter, I've assigned this issue to you, as the first of a couple small but important issues we'd like to resolve. Can you add these doctests to the `

[2021-03-26 20:03] benjaminotter commented on #693
Thank you, @huddlej, for the detailed instructions on how to approach this issue.
I'll have a look at this and let you know if there are any questions regarding the process.

[2021-03-30 21:56] huddlej commented on #636
[IQ-TREE 2.1.2 is now in Bioconda, as of today](https://github.com/bioconda/bioconda-recipes/pull/27687). The Bioconda version renames the binary to `iqtree`, for backwards compatibility, and keeps the newer `iqtree2` binary, too.

We should still implement the change proposed in this issue, though, for consistency across our tree builders.

[2021-03-30 22:08] huddlej commented on #683
@benjaminotter This issue's description reflects the consensus outcome from the conversation above that we should initially use inclusive dates and document these clearly in the help.

There are a couple of other proposals in the conversation about that may be interesting for you to consider, but none of these have been formally discussed or refined beyond this conversation.

[2021-03-31 16:17] #693 closed

[2021-04-02 21:07] #683 closed

[2021-04-02 21:45] huddlej commented on #662
Thinking more about the solution I proposed above, I see there is an additional layer of complexity in converting date strings to numeric dates. Maybe a better interface centers around the Python standard library `date` object and provides ways to convert to this object. For example, we need ways to convert:

 - date string (`2021-04-02`) to `date` object (`datetime.date(2021, 4, 2)`)
 - `date` ob

[2021-04-02 21:53] huddlej commented on #675
This issue was partially addressed by #679 which reports the number of strains dropped for missing metadata. The remaining component of reporting specific strains that were dropped will be addressed by [adding a generic filter report output](https://github.com/nextstrain/augur/issues/424).

[2021-04-02 21:53] #675 closed

[2021-04-02 22:03] huddlej commented on #662
One use case to include in our list is [this hairy conversion of date strings to integer fields with random (!) month values when a date is ambiguous](https://github.com/nextstrain/augur/blob/24baeaf1f8fa25beefb727bccf21199d33f6b152/augur/filter.py#L390-L400).

[2021-04-02 22:08] huddlej commented on #680
To address this issue, we want to revise [the conditional referenced above](https://github.com/nextstrain/augur/blob/24baeaf1f8fa25beefb727bccf21199d33f6b152/augur/filter.py#L379) to pass when `args.subsample_max_sequences` is truthy and define a separate `group_by` variable [to test each strain against](https://github.com/nextstrain/augur/blob/24baeaf1f8fa25beefb727bccf21199d33f6b152/augur/filter

[2021-04-02 22:12] huddlej commented on #636
@benjaminotter, can you add the call to `find_executable` that Trevor describes above for [the `build_iqtree` function](https://github.com/nextstrain/augur/blob/24baeaf1f8fa25beefb727bccf21199d33f6b152/augur/tree.py#L129)? This will work like [the existing call for the `build_raxml` function](https://github.com/nextstrain/augur/blob/24baeaf1f8fa25beefb727bccf21199d33f6b152/augur/tree.py#L40-L55).

[2021-04-06 12:19] BettyAC opened #709 "Error in Augur refine"
Here is the error message from the log

ERROR: skyline optimization by TreeTime has failed.
augur refine is using TreeTime version 0.8.1

358.80  TreeTime.reroot: with method or node: ['Wuhan/Hu-1/2019',
        'Wuhan/WH01/2019']

655.18	TreeTime.reroot: with method or node: ['Wuhan/Hu-1/2019',
      	'Wuhan/WH01/2019']
pruning leaf  Botswana/CV1507452/2021
pruning leaf  Botswana/CV1007487/2021
p

[2021-04-07 05:42] BettyAC commented on #709
Hi rneher,

Thanks that solved the issue. As you said the tree was large and Augur didn't generate the tree initially the process was interrupted.

[2021-04-07 15:54] huddlej commented on #709
@rneher Would it be appropriate to add your recommendation for `--coalescent opt` to the error message from Augur, so users get a hint of what to try when the skyline approach fails?

We could modify [the current error message](https://github.com/nextstrain/augur/blob/e209103a90df4a485a3e3e3d190502c9677e9b2f/augur/refine.py#L225) to echo your statement above like:

[code]

[2021-04-07 17:53] #636 closed

[2021-04-07 18:55] rneher commented on #709
yes. that would be a good idea. Maybe
[code]

[2021-04-09 23:07] #680 closed

[2021-04-09 23:29] huddlej commented on #709
Closing this now that we have a PR to at least improve the error message.

[2021-04-09 23:29] #709 closed

[2021-04-12 11:08] emmahodcroft opened #713 "`ncov` `tip_frequencies` failing with `augur` error"
**Current Behavior**
During `tip_frequencies` rule of the `ncov` workflow, about half of 39 builds are getting an error:
[code]

It seems like possibly there's a missing date value, but I can't find evidence of this (number of "raw_date" entries in branch_lengths file matches number of tips in the tree; all tips in `tree.nwk` end with a colon indicating a branch length number follows).

In `freque

[2021-04-12 12:43] emmahodcroft commented on #713
Apologies. Turns out there was an old file in my repository which was messing this up in a super-weird way. Basically seems like the offending sequence _used_ to have a month and day, then was updated to just have a year, but was being included because of that old data... Anyway, my bad!

[2021-04-12 12:43] #713 closed

[2021-04-12 16:42] rneher opened #714 "incorrect json -> Bio.Phylo conversion"
The utility function `json_to_tree` does not correctly calculates branch length. Instead of calculating the difference between divergence of parent and child node, it simply assigns divergence:

https://github.com/nextstrain/augur/blob/master/augur/utils.py#L589

[2021-04-13 19:18] #692 closed

[2021-04-16 16:57] ArnieBerg opened #715 "Error in traits.py when running with small data sample"
I am running in Augur 12 and when I run with a data sample of only five items, traits.py reports a warning that only one state exists, which is true.  However it errors on line 179 unless the following change is made near line 64:

Change:

        for node in T.find_clades():
            node.__setattr__(field, unique_states[0])
        return T, None, {}
 to:

        for node in T.find_clades()

[2021-04-16 18:13] huddlej commented on #715
Thank you for reporting this, @ArnieBerg! I've transferred this issue to the Augur repository, since it's a bug in our bioinformatics toolkit and not the command line interface (nextstrain-cli) for running analyses.

Would you be able to provide your example dataset and/or the full error message you get? That would help us recreate the bug and confirm that a proposed solution will fix it.

[2021-04-16 19:17] ArnieBerg commented on #715
The only data files changed are those attached, which can be found in the data and defaults folders of ncov.  Basically, what I did is quite straightforward.  I retained five items from the fasta file, made sure they were matched in the metadata file, and updated the exclude, include and parameters.yaml files to reflect these changes.

Other than the change to the traits.py code file, the rest is

[2021-04-20 14:21] lasupernova opened #716 "Dealing with missing country region values"
Hi, I am currently trying to run nextstrain, however my dataset does not have complete information on the region/country. I have a few entries (15 out of 99) that do have NaN values for both region and country.

Could you please advise as to how to address this and still use nextstrain?

Thanks in advance :)

[2021-04-20 14:25] rneher commented on #716
nextstrain should be able to deal with such missing data. we commonly use `?` to denote missing information.

[2021-04-20 14:27] lasupernova commented on #716
Ok, thanks  a lot for your reply, I will replace NaN with `?`.
Could you tell me what it will do for the lat_longs info for this data? I imagine it will simply be left blank?

[2021-04-20 16:24] #716 closed

[2021-04-20 16:40] lasupernova opened #717 "'No sequence data' although all data is there"
**Current Behavior**
I get an error message saying that all samples were dropped because there is no sequence data, but the fasta file is fine and the metadata file also (and they have matching strain names).
Nextstrain starts running just fine, but then I get the error (see log below)

**Expected behavior**
I would have expected the workflow to just run

**How to reproduce**
Steps to reproduce th

[2021-04-21 13:19] jsan4christ opened #718 "Error in rule index_sequences"
Dear Nextstrain team,

I have this error with augur,  there is no detailed log,

Please advise
---

Error in rule index_sequences:
    jobid: 20
    output: results/combined_sequence_index.tsv
    log: logs/index_sequences.txt (check log file(s) for error message)
    shell:

        augur index             --sequences results/filtered.fasta             --output results/combined_sequence_index.tsv

[2021-04-21 16:08] huddlej commented on #717
Hi @lasupernova, thank you for providing such a clear description of the issue and the associated data. It looks like there are a couple of formatting issues with the sequence data that are causing Augur to only recognize one of your sequences.

The first issue is that [the FASTA format doesn’t allow spaces in the sequence identifier](https://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Web&PAGE_TYPE=Blas

[2021-04-21 16:08] #717 closed

[2021-04-21 17:21] groutr commented on #465
ping @huddlej

[2021-04-21 17:32] huddlej commented on #718
Hi @jsan4christ! First, I'm sorry about that missing log output from the index rule. I've updated the ncov workflow to make sure this log output gets created as expected. If you pull the latest version of the workflow's repository, you should get output written to this log.

Second, [we added the `augur index` command in version 11.1.0](https://github.com/nextstrain/augur/blob/master/CHANGES.md#11

[2021-04-21 17:33] #718 closed

[2021-04-21 17:51] jsan4christ commented on #718
Thanks @huddlej,

You are right, I only realized a while later that reinstalling / upgrading without specifying the environment name was applying changes the the base installation. I had uninstall from base, then run install with the --name nextstrain option to install to the right environment and everything was fine after.

[2021-04-29 07:17] jameshadfield opened #719 "augur export produces duplicate colorings"
**Current Behavior**
`augur export v2` can produce datasets with duplicated entries in the `meta -> colorings` array.

**Expected behavior**
Coloring entries should not be duplicated.

**How to reproduce**
Steps to reproduce the current behavior:
1. Clone & enter the [zika tutorial](https://github.com/nextstrain/zika-tutorial)
2. `git checkout augur-export-bug`
3.  `snakemake --cores 2 -f export -

[2021-04-29 23:37] jameshadfield opened #720 "Ability to export branch labels"
Currently there is no ability for `augur export v2` to export custom branch labels.

In general, `node-data.json` defines traits for nodes via the following structure,
[code]
which `augur export v2` maps onto nodes as such:
[code]

There are two "special-case" situations which are relevant here:

1. if `TRAIT_NAME == "clade_annotation"` then [augur will export this as a branch label rather than a

[2021-04-29 23:43] jameshadfield commented on #720
One implementation would be to look for a top-level "branch_labels" key in the node-data JSON. Fo rinstance, we could modify `augur clades` to produce something like
[code]
Which would remove the need for `augur export v2` to special case "clade_annotation" as well as allowing custom branch labels from arbitrary node-data inputs.

[2021-05-10 21:50] huddlej opened #721 "filter: Support date offsets for min/max date thresholds"
**Context**
One common pattern for Nextstrain analyses is the "latest" build for a given pathogen where strains in the tree were sampled from the last N months or years. These builds may explicitly encode the recent timespan they represent (as in the "resolutions" of seasonal flu builds like [the 2y H3N2 build](https://nextstrain.org/flu/seasonal/h3n2/ha/2y) or [the "4m" build for SARS-CoV-2 in Wa

[2021-05-10 23:28] huddlej commented on #721
Another example use case based on actual SARS-CoV-2 analysis parameters includes setting hard lower/upper limits on min/max date to exclude records with impossible collection dates (dates prior to the first known case of SARS-CoV-2, for example, or dates in the future). For example, we currently hardcode the default min date to `2019.74` and the max date to today.

If we did not provide an explici

[2021-05-14 20:46] huddlej opened #722 "Support compressed strain name files"
**Context**
Augur supports compressed sequence and metadata inputs, but it does not support compressed strain name files (e.g., `include.txt.gz`, `exclude.txt.gz`).

**Description**
Update the `read_strains` function to support compressed inputs.

**Possible solution**
Replace `open` call in `read_strains` with `augur.io.open_file`.

[2021-05-14 22:17] huddlej opened #723 "mask: Support masking terminal gaps"
**Context**
The SARS-CoV-2 workflow has [a custom masking script](https://github.com/nextstrain/ncov/blob/cceb3a1a7097f32f8d487d48086164d00d1a4689/scripts/mask-alignment.py#L24) that is nearly identical to `augur mask` except that it includes an additional flag of `--mask-terminal-gaps`. Instead of maintaining a separate masking script for SARS-CoV-2, we should support this functionality in Augur'

[2021-05-19 10:40] lasupernova opened #724 "Sequences shorter than 25000"
**Context**
Looking into (viral) substructures, such as spike proteins or others, is often used as opposed to whole genome sequences. However, viruses and viral substructures are often of shorter length (in our case  the **whole** virus genome of a Rotavirus is  only 12.000 - 18.000 bp).

**Description**
Decreasing the limit of 25000 bp or having a flag/option to also include and analyze shorter s

[2021-05-19 17:05] corneliusroemer commented on #472
I can confirm that the issue still exists. Using augur for the first time today and I was surprised at how unresponsive the CLI is. Very unusual for and potentially off-putting.

Really shouldn't be hard to fix for the common case of displaying help information.

Here's another data point

[code]

with the following machine
[code]

[2021-05-20 16:03] huddlej opened #725 "read_metadata: Provide an interface to resolve duplicate strain names in metadata"
**Context**
Historically, metadata for Augur inputs were curated to exclude duplicate strains (e.g., by resolving duplicates in fauna during download from the database) and, as such, [`read_metadata` was designed to throw an error when it found duplicate strains](https://github.com/nextstrain/augur/blob/15dfc8bc5c5a570066ddd5601c9aa82e0c1d2b7d/augur/util_support/metadata_file.py#L53-L65). However,

[2021-05-24 16:11] huddlej commented on #427
Possible solutions include:

  - Always using `float`
  - Supporting `output_type` in the distance map
  - Supporting an output precision in the distance map like [pandas.to_csv does with `float_format`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html?highlight=to_csv#pandas-dataframe-to-csv)

[2021-05-24 16:13] huddlej commented on #427
Here is a test that will currently fail but should pass after we address this issue (running in [this context](https://github.com/nextstrain/augur/blob/92f58c85f670f16d8cac5cbb321bb84840e1c1db/augur/distance.py#L242-L244)):

[code]

This will currently return `0`.

[2021-05-24 16:19] huddlej commented on #722
Solution is to replace [the current `open` function call in `read_strains`](https://github.com/nextstrain/augur/blob/15dfc8bc5c5a570066ddd5601c9aa82e0c1d2b7d/augur/utils.py#L716) with the [`augur.io` function `open_file`](https://github.com/nextstrain/augur/blob/15dfc8bc5c5a570066ddd5601c9aa82e0c1d2b7d/augur/io.py#L12).

[2021-05-24 17:00] huddlej opened #726 "Support compression presets for LZMA compression backend"
**Context**
Augur's current backend for transparently reading/writing compressed data is [xopen](https://github.com/pycompression/xopen/). [xopen uses the standard Python LZMA module to handle xz files](https://github.com/pycompression/xopen/blob/9edf101dfad2f91f7fc5d268c61dc0c49e65597c/src/xopen/__init__.py#L506-L507), but it only uses the `filename` and `mode` arguments. Python’s [LZMA library a

[2021-06-01 23:40] huddlej opened #731 "Do not use multiple threads to write compressed files"
## Current Behavior

The `io.open_file` function uses xopen as its backend to transparently support compressed inputs and outputs. By default, [xopen uses multiple threads in a separate process to write some compressed file formats](https://github.com/pycompression/xopen/blob/e9cb17c969aacab7d4c08c9e313609bf14b9fc5e/src/xopen/__init__.py#L713-L714). When processing large files like the full GISAID

[2021-06-02 16:21] huddlej opened #732 "filter: Do not build a sequence index when the user hasn't requested sequence-based filters"
## Context

When the user does not provide a sequence index to augur filter, [filter will build an index on the fly](https://github.com/nextstrain/augur/blob/15dfc8bc5c5a570066ddd5601c9aa82e0c1d2b7d/augur/filter.py#L218). This process can take a long time when the input sequences are large, though, and the index is not necessary when the user hasn't requested any sequence-based filters.

## Descri

[2021-06-02 22:53] #722 closed

[2021-06-03 21:54] #427 closed

[2021-06-07 09:33] jonbra opened #733 "augur export v2: meta data file does not exist"
**Current Behavior**
I followed the steps outlined in the Zika tutorial and successfully completed all the steps. However, when running the final step `augur export v2` I get the error message that the meta data file does not exist. I input the same metadata file that I used in some of the previous steps, and I know it's there because I enter it with autocomplete button. I have also successfully r

[2021-06-08 05:30] jameshadfield opened #734 "Divergence (mutations) on the root node are ignored by augur export"
**Current Behaviour**
Datasets produced from `augur export v2` require a divergence value to be set on the root node via a node-data JSON (under keys "mutation_length" or "branch_length") however the supplied divergence value is not used. All trees start with a divergence value of zero.

**Expected behaviour**
The provided divergence value at the root should be used.

(My understanding is that New

[2021-06-08 05:41] jameshadfield commented on #273
Six monthly update 😂

- [ ] Currently a coloring must be provided as [the schema requires at least 1](https://github.com/nextstrain/augur/blob/d1f2fd55df698b219d80ccf42940faf3dbd08e5e/augur/data/schema-export-v2.json#L160)

[2021-06-09 00:15] jameshadfield opened #735 "Grab bag of improvements to augur clades"
**Context**
This issue represents a list of minor odditites, bugs and gotchas I discovered while working on `augur clades` in PR #728

- [ ] Despite the help indicating that nucleotide and/or amino-acid mutations are required, the node-data JSONs, when combined, must contain _both_ muts and aa_muts keys for each node because the augur clades codes assumes their existence. Only one should be requir

[2021-06-10 01:06] huddlej opened #736 "filter: Do not subsample probabilistically when users specify `--sequences-per-group`"
## Current Behavior

Although the documentation for augur filter's `--probabilistic-sampling` option says that we only sample probabilistically "when `--subsample-max-sequences` is provided", [we actually always probabilistically filter](https://github.com/nextstrain/augur/blob/d1f2fd55df698b219d80ccf42940faf3dbd08e5e/augur/filter.py#L483) unless the user has disabled it with the additional `--no-

[2021-06-10 12:15] rneher commented on #733
Thanks for raising this. the Problem likely is that some of the `node-data` files do not exist. The raised exception incorrectly assumed that the missing file is the metadata file.

[2021-06-10 12:17] rneher commented on #733
I suspect the problem is here:

https://github.com/nextstrain/augur/blob/master/augur/export_v2.py#L902-L907

@benjaminotter (cc @huddlej), could you have a look?

[2021-06-11 10:58] jonbra commented on #666
Displaying node support in Auspice would be extremely useful. @jameshadfield could you provide some more detail on how you created the `branch_support` values in the MERS example you showed? I see [here](https://docs.nextstrain.org/projects/augur/en/stable/api/augur.export_v2.html?highlight=node_attrs#augur.export_v2.set_node_attrs_on_tree) that creating `node_attrs` requires a dictionary with str

[2021-06-13 22:11] jameshadfield commented on #666
@jonbra no problem, the idea is to create a new colouring for display such as "branch_support" (you can choose the name, there's nothing special about that one). Using a custom script in your pipeline, you would create a node-data file which maps nodes to their bootstrap values, i.e. something like this:
[code]
where the node names are taken from the tree supplied to `augur export v2` (normally th

[2021-06-15 16:31] benjaminotter commented on #732
With this [possible solution](https://github.com/nextstrain/augur/blob/da01c2350652769e35d1b43f4aca4e7730aff28e/augur/filter.py#L210) the generation of an index file is skipped if both `--min-length` and `--non_nucleotide` were not specified.
However, when running the functional tests with cram the last test in `filter.t` fails:
[code]
@huddlej I suppose this has something to do with the fact that

[2021-06-15 22:54] #736 closed

[2021-06-18 17:39] huddlej commented on #721
Based on work in https://github.com/nextstrain/ncov/pull/659, we should consider adding these same offsets to `augur frequencies`.

[2021-06-19 00:03] huddlej commented on #732
@benjaminotter Thank you for getting this started and testing it. The problem ended up being a little more complex in that we use the sequence index (and the sequences themselves) to filter data even if there are no explicit sequenced-based filters. When the user provides both metadata and sequence data, we shouldn't output strain names, metadata, or sequences for strains that are missing from any

[2021-06-21 20:11] bede commented on #575
I'm running into this too

[2021-06-23 14:09] huddlej opened #739 "frequencies: Validate min and max date before estimating frequencies"
**Current Behavior**
The frequencies command currently allows users to define `min_date` and `max_date` values where the max date occurs before the min date. With these inputs, the list of generated pivots is empty and the user gets an exception the first time code tries to access any element of the pivots list.

**Expected behavior**
The frequencies command should alert the user to the invalid in

[2021-06-27 04:09] #732 closed

[2021-06-30 21:04] rneher opened #741 "Numerical dates"
**Current Behavior**
numerical dates in `augur refine` are produced here

https://github.com/nextstrain/augur/blob/master/augur/utils.py#L96

but if the dates are already in numerical format, this can only be achieved by passing in `fmt=None` which is next to impossible since this comes straight from the argument parser that has a default argument:

https://github.com/nextstrain/augur/blob/master/

[2021-07-03 00:03] huddlej commented on #699
After some more reflection, the main issue with reading all metadata into memory occurs when users apply `augur filter` to the full GISAID or GenBank SARS-CoV-2 datasets. These datasets contain 1.5+ million records and cannot reasonable fit into memory. However, for most other use cases, users work with the subset of data that are emitted by this first `augur filter` step (it isn't reasonable/usef

[2021-07-06 04:43] virologist opened #742 "augur lbi CalledProcessError: returned non-zero exit status 1"
**My Goal**
interpret the local branching index (fitness) of H7 avian influenza virus

**Current Behavior**
an error was met when interpreting the LBI: CalledProcessError: returned non-zero exit status 1

the error details I met:
[code]
how did I get the `h7_ha_05_node_data.json` file

[code]
how the  `h7_ha_05_node_data.json`  looks like
![image](https://user-images.githubusercontent.com/54756814

[2021-07-06 22:54] huddlej commented on #699
We can split the bigger issue of memory used by augur filter into the following smaller tasks:

 - [ ] Update augur filter to use a pandas DataFrame (#743)
 - [ ] Refactor augur filter's filter logic into separate functions that can be applied to a DataFrame
 - [ ] Refactor augur filter's group-by logic into a separate function
 - [ ] Apply filters and group-by logic to a metadata iterator (rewrit

[2021-07-08 13:04] IsabelFE opened #744 "TreeTime.reroot -- ERROR: unsupported rooting mechanisms or root not found"
Hello,

I am new using Nextstrain and I got the following error:

[code]

I would appreciate any help.

Thanks

Isabel

[2021-07-08 17:01] rneher commented on #744
This is probably a problem related to the sequence Wuhan/Hu-1/2019 not being part of your data set or having a subtly different name. Could you check?

[2021-07-08 19:04] tsibley commented on #699
@huddlej Overall impression is that this plan sounds excellent to me. :+1: for focusing the scope here and breaking down to incremental steps.

In terms of implementations, I think I'm partial to the in-memory heap or on-disk SQLite approach. Not sure which between the two but would be happy to discuss more in person!

[2021-07-08 19:17] IsabelFE commented on #744
Thanks @rneher, I was just about to test that when I read your message.

[2021-07-09 13:48] Yiqingzzz commented on #733
Hi，I'm having the same problem.I also get the error message that the meta data file does not exist. Did you solve the problem？

[2021-07-09 17:18] jonbra commented on #733
Hi,
Yes, at least I think so. The error was in fact missing node data as Richard Neher suggested. I had used a different file for one of the node data earlier in the pipeline. So it had nothing to do with metadata.

[2021-07-09 17:19] IsabelFE commented on #744
It worked. Thanks!

[2021-07-09 17:19] #744 closed

[2021-07-10 05:17] virologist commented on #742
Solved. The input tree should be built within nextstrain and refined.

[2021-07-10 05:17] #742 closed

[2021-07-12 15:33] corneliusroemer commented on #733
Just to add, I could reproduce the error. In my case it was also a node-data file missing. The error then falsely reported that the metadata file was missing.

Here's the command I ran:
[code]
`pre-processed/metadata_enriched.tsv ` was actually present, but `"build/clock_deviation.json" "build/terminal_branch_length.json"   ` were not.

[2021-07-12 17:00] huddlej commented on #733
The problematic code here is the overly generalized exception block that catches both missing node data and metadata. A clearer way to implement this would be to restructure [the calling code](https://github.com/nextstrain/augur/blob/89bc02849df47e67441ac005ffadc3c42b72476f/augur/export_v2.py#L963-L967) such that it attempts to load the node data JSON and metadata prior to calling the parser. We s

[2021-07-12 18:38] corneliusroemer opened #747 "Incomplete dates are not interpreted as ambiguous by augur filter"
**Current Behavior**
I was surprised to find that despite there being mention of ambiguous date handling in the documentation of `augur filter`, incomplete dates (e.g. `2019` or `2019-04` as opposed to `2019-04-13`) are counter-intuitively *not* supported by `augur filter`. In a query with `augur filter --min-date 2018` samples with datestring `2019` or `2019-04` are currently excluded by augur, d

[2021-07-12 18:43] corneliusroemer opened #748 "Augur filter does not support the integer.float input date format for --min/max-date filtering"
**Current Behavior**
Despite the documentation mentioning *augur style* integer dates (e.g. `2019.2413`) as being accepted as a parameter of `--min/max-date`, this format is not supported as input data format to `augur filter`. When trying to filter a dataset that uses index dates as dates, an error such as the following is thrown:
[code]

**Expected behavior**
I would expect integer dates to be

[2021-07-12 20:31] ayotomiwaa commented on #575
I'm currently running into this problem. Please is there currently a fix. I have a huge metadata file that I may not be able to fill all of it.

[2021-07-23 18:18] huddlej commented on #741
As additional context, this issue arose through the discussion site:
https://discussion.nextstrain.org/t/including-ancient-genomes-with-dates-before-0/516/4

[2021-07-25 20:07] Chwim opened #751 "Augur Filter finding duplicates in metadata file which has no duplicates."
hie
i am trying to construct time trees for rotaviruses. i have my metadata file and my fasta. when i try to filter, augur is detecting duplicates in the metadata file yet there are no duplicates in the file. i tried changing the "strain" header to "name" in the metadata file but i am still getting the same error. My coding skills are on a beginner level and i am stuck but i really want this to wo

[2021-07-25 23:50] jameshadfield commented on #751
The metadata file should be tab-separated, or comma-separated - could you check that this is the case for you, and perhaps paste a few lines here (if the data's not sensitive)? The error message above indicates that the duplicated strain name is the empty string (or some amount of white-space), which may be due to the formatting of the metadata file itself. Additionally, could you run `file metada

[2021-07-27 04:01] #733 closed

[2021-07-28 23:04] huddlej opened #753 "Remove Snakemake as a dependency"
**Context**

Snakemake is not required to use Augur, but we still use it for some functional tests in Travis CI. These tests can be easily run with cram and this additional dependency of Snakemake adds unnecessary complexity to the project. It also causes recent versions of Snakemake from a Conda installation to get overwritten by an older, pip-installed, and less complete version of Snakemake whi

[2021-07-28 23:21] huddlej opened #754 "Throw an error when any requested group-by columns don't exist"
**Current Behavior**

Augur's filter command allows group-by columns to be completely missing and will only print a warning when this happens and continue with regular filtering behavior.

**Expected behavior**

Augur should throw an error when users request group-by any columns that do not exist, to prevent unexpected output from propagating through a workflow.

**How to reproduce**

[code]

**Po

[2021-07-29 20:37] huddlej commented on #643
This issue was partially resolved by the addition of the `augur index` command in https://github.com/nextstrain/augur/pull/651 and is otherwise redundant with #635.

[2021-07-29 20:37] #643 closed

[2021-07-29 20:43] huddlej commented on #635
After our recent conversations internally and with @dpark01 about reducing the complexity of the ncov workflow and improving the portability of the existing workflow with other workflow languages and/or platforms, I'm bumping this here as a higher priority issue and moving it from the "backlog" to the "next up".

[2021-07-29 20:49] dpark01 commented on #635
Here is my [current hack](https://github.com/broadinstitute/viral-pipelines/blob/master/pipes/WDL/tasks/tasks_nextstrain.wdl#L275-L322)--would love to replace all that with `augur subsample`

It would be nice if a command like this could include emit as output a numeric count of selected samples in each deme.

[2021-08-10 05:41] cjain7 opened #755 "Question: Scope to improve scalability"
Dear Augur/Nextstrain authors,

I'm a bioinformatician/algorithms/HPC researcher. I've been following up the documentation of the Augur pipeline to check if there are any scalability bottlenecks which may need to be resolved in future for analysis of genomes. As count of genomes being sequenced continues to grow exponentially, certain components may need to accelerated with faster algorithmic alte

[2021-08-12 06:35] victorlin commented on #747
@corneliusroemer this is what is shown by `augur filter --help`:

[code]

I don't see any reference of ambiguity so technically it is correct, but regardless I've created a PR to add support for this.

Note that ambiguous dates still follow the format `YYYY-MM-DD` so instead of `augur filter --min-date 2018` it should be `augur filter --min-date 2018-XX-XX`.

[2021-08-12 08:53] victorlin commented on #747
Thinking a bit more, this feature probably isn't very useful unless there is support for incomplete date strings (https://github.com/nextstrain/augur/issues/662#issuecomment-812728450). `--min-date 2021` would be a nice shorthand but `2021-XX-XX` is just as verbose as its effective value `2021-01-01`. The ambiguity syntax is useful for the metadata, but these cutoffs are user-defined.

[2021-08-12 16:46] #424 closed

[2021-08-12 16:46] #699 closed

[2021-08-12 17:08] huddlej commented on #755
Hi @cjain7, thank you for the offer to help out! We have just resolved [one of our biggest issues with scalability](https://github.com/nextstrain/augur/issues/699) and will likely continue to face issues with the run-time of commands like `augur index` and the `read_sequences` functionality of our `io.py` module, as the GISAID SARS-CoV-2 database grows.

We don't have any specific issues open now

[2021-08-12 17:08] #755 closed

[2021-08-13 10:13] victorlin commented on #662
Hi @huddlej, I took a stab at this one. Could you review my pull request?

[2021-08-13 19:29] huddlej opened #757 "filter: Exclude by ambiguous date fails on float input"
**Current Behavior**
The `filter_by_ambiguous_date` throws the following exception when the date input is a floating point value:

[code]

It turns out that the "float" dates are actually `NaN` values from pandas when it reads an object with empty strings in a column. The previous versions of Augur used pandas to read metadata, but [they filled all missing data with empty strings](https://github.c

[2021-08-13 21:58] #757 closed

[2021-08-14 03:28] huddlej commented on #662
Thanks, @victorlin! I'll check it out first thing next week.

[2021-08-16 15:54] huddlej opened #760 "filter: Groups are not always stable between first and second pass through metadata"
**Current Behavior**
When grouping by columns with a maximum number of subsampled sequences requested, augur filter needs to make a first pass through metadata to count the number of records for each group, use these counts to calculate the number of sequences to sample per group to meet the given maximum sequences threshold, and then make a second pass through the metadata to sample that number o

[2021-08-16 17:29] huddlej commented on #760
After chatting with @emmahodcroft and @rneher about this, we can to the following conclusions:

 - Randomly assigned months attempt to address the case where high-quality sampling is heavily biased toward one geographic location while other locations have fewer samples with more ambiguity about date (e.g., Enterovirus D68 as the US continues to sequence more than other countries). This solution wa

[2021-08-17 07:31] jameshadfield commented on #635
PR #762 begins an implementation of `augur subsample`

[2021-08-17 15:40] #760 closed

[2021-08-17 17:58] huddlej opened #763 "Update to latest BioPython version"
**Context**

Augur pins BioPython to an older version due to a bug in BioPython 1.78 that breaks TreeTime. @rneher fixed this bug in BioPython's `master` branch back in December 2020, but we've needed to wait for a new release to update our pinned versions in Augur.

[BioPython just released 1.79](https://biopython.org/wiki/Download), though, so it's possible that this version will work with Augur

[2021-08-17 18:32] tsibley commented on #763
The current version dep is

    biopython >=1.67, <=1.76

Instead of requiring `>=1.79`, I'd recommend instead making the smaller change of excluding known-bad versions:

    biopython >=1.67, !=1.77, !=1.78

[2021-08-18 23:53] huddlej commented on #747
I'm just now looking at this issue in preparation for reviewing @victorlin's PR #756. The most recent version of Augur includes some more realistic metadata in the functional test suite, so a minimal way to confirm the issue here is with the following command:

[code]

The strain `SG_018` has an incomplete date of 2016, but it should still pass the filters above. Instead it appears in the log outp

[2021-08-19 06:30] victorlin commented on #747
@huddlej the incomplete date on `SG_018` is a separate but related issue - here we are talking about incomplete date on `--min-date`/`--max-date` not the values in `metadata.tsv`.

With current implementation, `date` values in `metadata.tsv` are [parsed strictly with format `%Y-%m-%d`](https://github.com/nextstrain/augur/blob/be57dbed62c90276cca8ce8d8cd999fbb9bd7c62/augur/filter.py#L324). I suspec

[2021-08-19 07:59] victorlin commented on #747
@huddlej I implemented a fix here: https://github.com/victorlin/augur/commit/94efe6034fe0370ad0929a8fdd6ee2c8db6f8227

Decided not to add this to the current PR since it's a pretty invasive change removing the need for `fmt` parameters altogether. I also fixed a few incorrect functional tests and added the example you provided above.

[2021-08-19 22:24] huddlej commented on #748
@corneliusroemer, do you have an example dataset that uses these floating point dates in the metadata?

@rneher pointed out that the use case for these dates is for analyses of ancient DNA/RNA sequencing where dates like `-11220-04-12` will break the standard Python datetime library.

I'm curious if we didn't catch this issue before because no one has tried to use Augur for these types of analyses

[2021-08-20 15:52] lasupernova opened #764 "augur translate: ValueError("No records found in handle")"
Hi everyone, I have been running several analyses and I am able to create the correct json output file.
However, the augur trasnlate step is not working for me. All precious steps ran just fine and I have all files required for augur trasnlate in the results folder (nt_muts.json is in the folder and looks ok when checking with 'head').

I ran the following:

`augur translate --tree results/tree.nw

[2021-08-22 21:53] mtw opened #765 "Ancestral traits reconstruction produces UnicodeEncodeError"
`augur traits` produces a UnicodeEncodeError

     Traceback (most recent call last):
     File "/Users/mtw/miniconda3/envs/nextstrain/bin/augur", line 8, in <module>
    sys.exit(main())
     File "/Users/mtw/miniconda3/envs/nextstrain/lib/python3.6/site-packages/augur/__main__.py", line 10, in main
    return augur.run( argv[1:] )
     File "/Users/mtw/miniconda3/envs/nextstrain/lib/python3.6/si

[2021-08-23 03:25] jameshadfield commented on #764
Hi @lasupernova - the reference sequence passed in needs to be a GenBank or GFF file containing details about the genes to translate (in your command you are passing in a fasta file, which will not contain this information). For example, in our ncov workflow we run `augur translate ... --reference-sequence defaults/reference_seq.gb`.

The exact format of these files can be a bit tricky. For exampl

[2021-08-24 20:36] tsibley commented on #765
@mtw Thanks for the detailed bug report. This is a bad interaction between TreeTime and BioPython 1.79, because the latter switched `Bio.Seq` storage from Unicode strings to ASCII bytes ([changelog](https://github.com/biopython/biopython/blob/master/NEWS.rst#3-june-2021-biopython-179), [PR](https://github.com/biopython/biopython/pull/3333)) and TreeTime constructs a trait alphabet that can exceed

[2021-08-24 20:38] tsibley commented on #763
As reported and identified in #765, the change in 1.79 to `Bio.Seq` to store ASCII bytes instead of Unicode strings means that TreeTime won't work as-is on 1.79.

[2021-08-25 06:26] rneher commented on #763
damn. I need to fix that in treetime...

[2021-08-25 13:01] rneher commented on #765
I have released a new version of treetime to address this (bypassing Bio.Seq for the mugration analysis).
https://github.com/neherlab/treetime/releases/tag/v0.8.3.1
is also on pypi.

if the problem persists, please let me know!

[2021-08-25 13:16] rneher commented on #763
I released a fix(fingers crossed):
https://github.com/nextstrain/augur/issues/765#issuecomment-905481186

[2021-08-31 12:19] mattoslmp commented on #666
@jameshadfield  How can I modify workflow to display the tree similar to the one you generated in MERS?

[2021-09-01 00:17] jameshadfield commented on #666
@mattoslmp the MERS dataset came from BEAST, using `augur import beast` which will export posterior support as an auspice colouring. To display bootstrap support you'd need to (a) generate a tree with bootstraps and (b) write a small custom script to extract these into a node-data JSON for `augur export` to consume.

[2021-09-01 17:48] mattoslmp commented on #666
@jameshadfield, thank you.  Do you think that is possible change the iqtree (newick) output to node-data JSON? I would like to see my phylogenetic tree generated with iq-tree in the auspice/nextstrain group.

[2021-09-01 23:55] huddlej commented on #763
Just a note that I can't install the latest augur from Bioconda using Python 3.9 since the recent BioPython update. Conda claims it cannot resolve the requirements for the older BioPython with Python 3.9. I'll bump this as a higher priority to test.

[2021-09-08 18:32] tsibley opened #767 "Use str.casefold() instead of str.lower() for case-insensitive comparisons"
Case insensitive string comparisons in Augur are often done by converting each side with [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower) instead of [`str.casefold()`](https://docs.python.org/3/library/stdtypes.html#str.casefold). The latter uses Unicode case-folding rules intended for case-insensitive comparisons and covers characters that a simple lowercasing does not.

[2021-09-15 13:15] ammaraziz opened #768 "titers: document file input and output formats including examples"
Dear Nextstrain team,

Thank you for creating and maintaining `augur`.

The `augur titers` sub command takes a `--titers` argument. However, there's a lack of documentation on the file format or an example, at least that I can find.

It would be appreciated if the documentation could be updated with an example. Happy to submit a pull request if it will help.

Thanks,

Ammar

[2021-09-20 03:18] jameshadfield opened #769 "[augur tree] input alignment must end in .fasta"
**Current Behavior**

For IQ-TREE, the input alignment must end in `.fasta`  as we replace this string with others to create intermediate files ([code here](https://github.com/nextstrain/augur/blob/master/augur/tree.py#L150-L152)). If this is not the case, the input alignment ends up being overwritten with the (failing) log files of IQ-TREE.

**Expected behavior**

The input alignment suffix shoul

[2021-09-22 17:54] tsibley opened #770 "[filter]: Probalistic sampling doesn't use the given RNG seed"
**Current Behavior**
`augur filter`'s probabilistic sampling (`--probabilistic-sampling`) doesn't seed the RNG it uses, which I believe will lead to unstable output even when `--subsample-seed` is given. `--probabilistic-sampling` is enabled by default, but only used when there are more groups than the requested number of sequences (`--subsample-max-sequences`).

**Expected behavior**
All RNGs are

[2021-09-22 18:46] tsibley commented on #770
Hmm, maybe not a bug given 87ca73c's message:

but could be better commented and documented?

[2021-09-23 12:58] corneliusroemer opened #771 "Add option to `augur filter` to produce non-wrapped fasta output"
When filtering a fasta file using UNIX text based tools, it's more convenient if the fasta file is not wrapped at a fixed row length.

Right now, `augur filter` wraps fastas so that rows are of fixed length.

The wrapping means that one has to parse fastas and is not able to rely on the alternating pattern of strain name followed by sequence.

It could be useful to add an option to `augur filter`

[2021-09-23 21:51] huddlej opened #773 "distance: Document how to ignore characters and how indels get treated as a single event"
**Solution**
Update the docstring for the distance module to include examples of how to ignore specific characters and also describe how indels get treated as single events.

**Context**
This issue came up during Nextstrain office hours on September 16, 2021.

[2021-09-23 21:57] huddlej opened #774 "traits: Document when and how to use the `--sampling-bias-correction` argument"
The sampling bias correction argument for augur traits has a brief description of the parameter, but we do not have any documentation about when to use this argument and how to choose its value (the closest example is in [the ncov workflow configuration guide](https://docs.nextstrain.org/projects/ncov/en/latest/reference/configuration.html?highlight=sampling-bias-correction#traits)).

We should ad

[2021-09-23 22:07] huddlej commented on #770
The commit 87ca73c has been superseded by [a different approach generating priority queues](https://github.com/nextstrain/augur/blob/e7728559417cd98a426bf5cb99a257b63fdc705f/augur/filter.py#L1080) and the issue described in that commit is no longer actually an issue.

#772 resolves the issue with probabilistic subsampling not using the random seed.

[2021-09-23 23:53] #770 closed

[2021-09-28 08:34] avrajit commented on #616
Hi I am also getting the same problem. What is the solution? Do I just copy your scripts and replace it with old augur one?

[2021-09-28 15:44] lasupernova opened #775 "ValueError: Rerooting failed!"
I ran the following line: and got the valueError below. Could you please advise on what to do?
I have used NextStrain several times in the past and have never encountered this error before. My input files are also in the same form as files during my previous NextStrain analyses.
Running this on a Linux server.
Thanks in advance for any help :)

`augur refine --tree results/tree_raw.nwk --alignment

[2021-09-28 17:12] huddlej commented on #775
Hi @lasupernova, this is a data-specific error that can occur when TreeTime can't fit a regression model for the given inputs. This error could indicate a problem with the input data, so you may want to review the topology of your input tree and the quality of your multiple sequence alignment before proceeding.

If your inputs look reasonable, you can workaround this error with two different appro

[2021-09-28 17:12] #775 closed

[2021-09-28 17:17] huddlej commented on #616
Hi @avrajit, we haven't worked out a general solution to this issue yet, but we do have some scripts in our SARS-CoV-2 workflow that attempt to resolve duplicate metadata and sequence records. For example, [our sanitize metadata script](https://github.com/nextstrain/ncov/blob/71508e0a31935c0682f2ad4b17ce862f2328c229/workflow/snakemake_rules/main_workflow.smk#L1-L24) resolves duplicates by selectin

[2021-09-30 11:47] llk578496 commented on #619
Hi, I have the same problem too! Also I could not specify the bootstrap value due to the uncompabtible argument -n

[2021-10-06 22:37] #619 closed

[2021-10-06 23:48] huddlej opened #778 "tree: Users cannot override conflicting default arguments with their own arguments in `--tree-builder-args`"
**Current Behavior**

@llk578496 notes in [issue 619](https://github.com/nextstrain/augur/issues/619#issuecomment-931248238) that they cannot provide all valid IQ-TREE arguments to augur tree through the `--tree-builder-args` argument.

The specific error was:

The issue is that users would like to provide valid IQ-TREE arguments to augur tree, but the default arguments we use can conflict with th

[2021-10-26 23:48] huddlej opened #779 "io: Raise a more specific exception on missing id columns"
## Current Behavior
The `read_metadata` function in the `io` module checks for the presence of valid id columns to index the resulting pandas DataFrame. [This function raises a generic exception when no valid columns can be found](https://github.com/nextstrain/augur/blob/4e5dca2252531a25d3eee56a3522b29141f6aafa/augur/io.py#L108).

## Expected behavior
When using `io.read_metadata` as an API for ut

[2021-10-29 23:33] george-githinji opened #780 "The default beta version of iqtree leads to segmetation fault"
**Current Behavior**
augur tree leads to a segmentation fault.
It appears that installing augur from conda bundles a beta version of iqtree2 (iqtree-2.1.4_beta). this version segfaults with the following error:
[code]
**Possible solution**
1. install a stable version of iqtree2 by default
2. Let the user install specific versions of iqtree2 rather than bundling it with the install.

**Your environ

[2021-10-29 23:39] tsibley commented on #780
@george-githinji Thanks for the report. Hmm. We recently had [another report of a segfault in IQ-TREE](https://discussion.nextstrain.org/t/error-in-main-workflow-smk-file/719) on a slightly earlier (and non-beta) version. That report led to [this issue in IQ-TREE](https://github.com/iqtree/iqtree2/issues/40), but so far there's been no resolution. Perhaps you could contribute additional informatio

[2021-11-02 10:10] george-githinji commented on #780
Thank you @tsibley for the comments and suggestion.

[2021-11-03 20:02] huddlej opened #781 "io: Support a larger maximum field size for CSV/TSV files"
## Current Behavior

[Users have described running the sanitize metadata script in the ncov workflow with input data that includes large fields](https://discussion.nextstrain.org/t/sanitize-metadata-py-error-error-expected-after/807). These fields exceed Python's default limit, requiring users to override this value themselves.

## Expected behavior

We would expect Augur not to crash for "reasona

[2021-11-06 11:51] rneher opened #782 "augur tree with masked sites doesn't handle compressed input."
We are not using `read_sequences` here:
https://github.com/nextstrain/augur/blob/master/augur/tree.py#L318

[2021-11-06 11:51] rneher commented on #782
@huddlej you are probably fastest at fixing this....

[2021-11-12 01:40] ammaraziz opened #783 "Feature request - (de)parse subcommand for formatting fasta/metadata"
**Preamble**
Before detailing this feature request, I would like to say that if this request is outside the scope of `augur` then please feel free to close this issue. I appreciate that helping users to format data is a never ending rabbit hole and the current `augur` subcommands provide some very impressive and helpful solutions to common problems. At one point a line must be drawn: the user has

[2021-11-12 01:47] ammaraziz commented on #783
This request is heavily related to
https://github.com/nextstrain/ncov/pull/640

[2021-11-12 02:43] jameshadfield commented on #783
Hi @ammaraziz - I feel the pain, I must have written dozens and dozens of scripts to perform similar transforms. I don't think it's going to be possible to write a one-size-fits-all parser, however one could imagine an `augur parse epirsv` if there's enough demand. In the meantime, we have helper functions to make these transform scripts easier to write, for instance:

[code]

[2021-11-12 03:10] ammaraziz commented on #783
Hi @jameshadfield

Thanks for getting back to me so quickly. After submitting this issue and reading the ncov build issues/PR, I quickly realised the mammoth task required to achieve a unified parser.

The helper scripts look very promising, are they documented anywhere? I don't see any docs on the nextstrain docs platform.

Regarding `augur parse epirsv`, I think in the near future this option wo

[2021-11-12 05:16] jameshadfield opened #784 "[docs] augur.io does not appear in the API docs"
`augur.io` is not present in [the API docs](https://docs.nextstrain.org/projects/augur/en/latest/api/api.html). This might be as simple as adding the corresponding header file to [this folder](https://github.com/nextstrain/augur/tree/master/docs/api)?

[2021-11-12 05:18] jameshadfield commented on #783
That would be great! We'd be happy to play a supporting role here. Such a workflow could have a script which does the EpiRSV parsing. Note that [we started a basic RSV build](https://github.com/nextstrain/rsv) however it's not being actively maintained (nCoV is all-consuming), and it also doesn't use EpiRSV as the starting point; it may have some helpful code for you.

[2021-11-12 18:52] victorlin opened #785 "Unable to conda/mamba install on Windows 10"
[Current installation docs](https://docs.nextstrain.org/projects/augur/en/13.0.2/installation/installation.html) point to `conda`/`mamba` for installing augur. It works fine on M1 Mac, but fails on Windows 10.

`conda`:

[code]

The error above is strange as it doesn't output anything else. However, with `mamba` the error is obvious:

[code]

I also saw the same message for `fasttree` a different

[2021-11-15 19:16] huddlej commented on #780
Hi @george-githinji, following up from an email I just sent you about this issue, here are my first thoughts for working around this issue (without getting specific help from IQ-TREE team). These are two versions of what you recommend in your possible solutions above.

 1. Downgrade IQ-TREE to an earlier version, in the hopes that the older version does not have the bug affecting your analysis. Yo

[2021-11-19 21:44] #782 closed

[2021-11-21 08:23] george-githinji commented on #780
Thanks @huddlej John. Posting the details here:

Running the following augur generated command with IQ-Tree version 2.1.4

`iqtree2 -s results/filtered-delim.fasta -ninit 2 -n 2 -me 0.05 -nt 16 -m GTR -ninit 10 -n 4`

fails with the following error message

[code]

However, removing the last command-line arguments `(“-ninit 10 -n 4”) ` yields a success suggesting that the augur generated command s

[2021-11-22 18:07] huddlej commented on #780
Thank you for sharing these details here, @george-githinji! Based on your testing, this issue appears to be caused by the same problem that led to #778. The same solution should address both of these issues.

[2021-11-23 07:15] george-githinji commented on #780
Thank you @huddlej  for picking this issue up. Your suggestion in #778 sounds the way forward but might need a consensus or a best practice approach.

[2021-11-23 19:45] jameshadfield commented on #780
[Here](https://discussion.nextstrain.org/t/code-failure-while-running-a-build-for-usa/860/2) is another report of this bug from discussion.nextstrain.org

[2021-11-23 23:35] huddlej opened #787 "tree: excluded sites logic relies on deprecated BioPython interface for mutable sequences"
**Current Behavior**
[The logic for excluding specific sites from tree building relies on a call to `tomutable`](https://github.com/nextstrain/augur/blob/8b9276f2ab41c5118df9387d8abfb5dc56ac0fda/augur/tree.py#L327), a function that has been deprecated by BioPython. As a result, users see a warning like this when they run augur tree with excluded sites (e.g., the ncov workflow):

[code]

**Possible

[2021-11-24 11:33] Carlosbogo commented on #787
Hi, I would like to work on this. Is there anyone working on it already?

[2021-11-25 07:07] huddlej commented on #787
It's all yours, @Carlosbogo! You can open a draft PR with a fix or comment on this issue if you run into any issues with the development environment prior to opening a PR. Thank you!

[2021-11-28 00:59] trvrb opened #789 "Speed up filtering by not processing entire file"
**Context**

I've been running builds locally to get context surrounding 21K viruses and I'd like to again flag `augur filter` subsampling as a major performance bottleneck. Here, I'm starting from already aligned and filtered data: https://github.com/nextstrain/ncov/blob/master/nextstrain_profiles/nextstrain-gisaid/builds.yaml#L23. I just wanted a context of ~200 background viruses from across th

[2021-11-29 18:17] tsibley commented on #789
@trvrb Separately from the issue of speeding up the underlying `augur filter`, why can't you run these calls in parallel on your laptop too?

[2021-11-29 19:18] huddlej commented on #789
The slowest part of augur filter is reading/writing sequence data. If you have multiple subsampling calls, the faster way to get the same output is to only output strain names for each subsampling call and then make a final call to augur filter to extract sequences for the lists of strains you want. One example of this is in the data prep guide for “[select contextual data for your region of inter

[2021-11-30 19:41] victorlin commented on #789
After doing a bit of testing using a dataset with 160k sequences I found on S3, I am seeing some evidence that metadata IO is slower than sequence IO.

This metadata-only call takes ~45s:

[code]

While the comparable metadata + sequence call takes ~52s:

[code]

**This means sequence IO only accounts for ~13% (7/52) of runtime.**

I'm going to dig into where this slowness is coming from and see i

[2021-11-30 20:13] tsibley commented on #789
@victorlin Not sure that comparison is telling the whole story because it's only outputting ~10 sequences due to `--subsample-max-sequences` instead of a more realistic number. Look at it this way, for example: the second command took an extra 7 seconds to output just 12 sequences. If that's steady, then as you ask for more sequences to be output, the sequence IO will account for a greater and gre

[2021-11-30 20:20] victorlin commented on #789
@tsibley good point, it can be broken down to:

1. metadata read
2. metadata write
3. sequence read
4. sequence write

My example above does a poor job of testing (2) and (4) since output is small. But it highlights the differences between (1) and (3).

For @trvrb's example, I'm positing that (1) is the bottleneck instead of (3). There are probably improvements to be made across the board though.

[2021-11-30 21:09] #787 closed

[2021-12-01 17:43] huddlej opened #793 "Bump minimum Python dependency to 3.7"
## Context

We currently require Python 3.6 or higher, but 3.6 will reach end of life in three weeks.

## Description

We should require at least version 3.7 now.

## Possible solution

 - [ ] Update setup.py to set minimum Python version to 3.7
 - [ ] Update Travis CI matrix to drop 3.6 and include 3.9
 - [ ] Update change log noting breaking change
 - [ ] Release a new major version of Augur to

[2021-12-01 18:36] huddlej commented on #789
Thank you for digging into this, @victorlin! You and @tsibley both make good points. Benchmaking this command is tricky since apparently minor changes to the input arguments or data formats can have a large effect on runtime.

I just reviewed my notes from testing augur filter back in September with a large ncov dataset and noticed that my conclusion about metadata vs. sequence time was based on f

[2021-12-01 20:34] huddlej commented on #789
@victorlin Here are my notes from September with updated runtimes for the latest data as of today.

## Setup environment and data
[code]

## Compare subsampling performance for augur filter
[code]

[2021-12-01 22:18] tsibley commented on #789
@victorlin Good way to break it down.

The reasoning for (1) vs (3) dominating the runtime isn't clear to me. Could you explain?

And ultimately, the best thing to do here is actually profile the code.

[2021-12-01 22:48] trvrb commented on #789
Thanks so much for digging in here @victorlin, @huddlej and @tsibley. This doesn't need to be the only use case, but you can quickly replicate the use case that I had via the `filter-test` branch I just pushed up here: https://github.com/nextstrain/ncov/tree/filter-test

From this branch can run locally as:
[code]
It will take a few minutes to "sanitize" sequences but you'll be to the 12 `augur fi

[2021-12-01 23:54] victorlin commented on #789
@tsibley The metadata-only call took 45s while metadata+sequence call took 52s. So the additional sequence IO there had little effect on run time.

However, @huddlej's output says otherwise (2m metadata vs. 15m metadata+sequences), probably since it's a different dataset. I'm running it locally to see if I can reproduce similar numbers.

Agreed. A few years back I used [cProfile](https://docs.pyth

[2021-12-02 04:36] trvrb commented on #789
I just ran the identical command as in the original issue, but dropping all sequence references, so:
[code]
And again confirming the timing of the original command
[code]

[2021-12-02 05:38] victorlin commented on #789
@trvrb the current implementation of `--group-by` is computationally expensive, notably `augur.filter.get_groups_for_subsampling` which is looping through and determining the groups for every sequence in the metadata file:

https://github.com/nextstrain/augur/blob/d553f5ea01bbf99637f6faa30f26ee9cdeee96c6/augur/filter.py#L894-L934

Mainly, line 897 is inefficient usage of a pandas DataFrame (confir

[2021-12-02 17:55] huddlej commented on #789
Nice find, @victorlin! I'd love to see how you used SnakeViz with cProfile to track this down. I'm also curious how much we can reduce runtime from 25 minutes by switching to Pandas-based logic.

[2021-12-02 20:10] victorlin commented on #789
This is the necessary change for profiling: https://github.com/nextstrain/augur/commit/0f357be2ca83a737aba0aea518a85639894f196e

I ran this command for 160k sequences and uploaded the profile file to gist:

[code]

If you want to look at profile results for yourself:

1. Download [160k-sequences-current.prof](https://gist.github.com/victorlin/e27255f0b4f833e04918fd0530bdc369/raw/db85a41e3b8f8c0aa5

[2021-12-03 01:09] victorlin commented on #789
Note: I also experimented with a couple other ideas to improve **metadata read** performance:

1. Use `pd.read_csv(sep = "\t", engine="c")` as @huddlej [mentioned above](https://github.com/nextstrain/augur/issues/789#issuecomment-984032648).
    This improved things slightly: 45s -> 42s in my example.
2. Read a subset of the columns with `pd.read_csv(usecols=["strain", "date", "country"])`.
    Th

[2021-12-03 02:37] victorlin opened #795 "filter: --group-by fails to error properly when used with date-only values"
While writing tests for #794, I noticed a couple edge case-y bugs.

## Setup

Create a simple metadata file without a `date` column:

[code]

## Group by year

[code]

Output:

[code]

This should fail earlier instead of trying to use `_dummy`.

## Group by year and month

[code]

Output:

[code]

This should fail instead of passing.

[2021-12-03 18:13] victorlin commented on #789
PR is ready for review. See [PR comment](https://github.com/nextstrain/augur/pull/794#issuecomment-985726725) for detailed profiling results, but in summary it reduces the run time of `augur.filter.get_groups_for_subsampling` from 55s down to 5s.

[2021-12-03 21:38] victorlin commented on #789
I just ran @trvrb's example with/without PR and profiling. Everything took much less than 25m each maybe due to environment/machine differences, but still surprising.

- Without PR changes:
    - Non-profile run time: 8m 40s
    - Profile run time: 13m 20s
        - `get_groups_for_subsampling`: 6m 19s
- With PR changes:
    - Non-profile run time: 5m 48s
    - Profile run time: 7m 43s
        - `

[2021-12-03 22:42] huddlej commented on #789
Thanks for doing this before/after analysis, @victorlin. I'm trying to recreate the same results locally (the slower of the two is running right now).

In addition to the slow inner loop issue you've sped up in #794, there is another potentially easy optimization: filter currently calculates groups for strains _twice_; [once in the first pass](https://github.com/nextstrain/augur/blob/d553f5ea01bbf

[2021-12-03 22:53] huddlej commented on #795
Thank you for calling this out, @victorlin! This might be a subset of #754, unless you think there's enough difference to keep this issue open. I'd love to see better error handling in augur filter (and [generally in augur](https://github.com/nextstrain/augur/issues/642)). Some of the current implementation decisions date back to the first version of Augur and could definitely be revisited.

[2021-12-03 23:17] victorlin commented on #795
Didn't mean to close this 🤦

[2021-12-04 00:06] victorlin commented on #789
I'm going to tackle this next, since it seems like another inefficient usage of pandas DataFrame (line 1522):

https://github.com/nextstrain/augur/blob/af23a7bcb7542d5ae61cc76841661dddecd43d39/augur/filter.py#L1519-L1524

And this is the only reference for the second pass of `get_groups_for_subsampling`.

[2021-12-04 00:13] tsibley commented on #789
@victorlin Rad! I've also used [py-spy](https://github.com/benfred/py-spy) in the past for some Python profiling.

[2021-12-04 00:36] trvrb commented on #789
Amazing progress here @victorlin. Really appreciate the speed ups.

[2021-12-04 00:48] huddlej commented on #789
I got similar run times to Trevor with 24 minutes for the original command with Augur 13.0.3 and 17 minutes with #794.

[2021-12-05 03:26] trvrb opened #798 "MutableSeq conflicts with older versions of BioPython allowed by setup.py"
**Current Behavior**
Moving to `MutableSeq(seq)` in PR #788 was necessary because BioPython deprecated our previous call to `seq.tomutable()` per #787.

However, just running `pip install -e '.[dev]'` based on `setup.py` was not forcing my BioPython installation to upgrade to match. Because of this I was getting a surprising error:
[code]

This was with BioPython 1.76. It looks like we'll need to

[2021-12-06 06:58] Eudora32 opened #800 "Some questions about the frequencies"
I am writing to enquire some questions about the frequencies of some COVID-19 mutations on Nextstrain.
There are two questions troubled me. One is the data of frequencies about Delta mutation, which containing 21A, 21I, 21J. During November 30 to December 3, 2021, I found that the frequencies of 20J above 90% (Fig.1), 21A only 2%. However, it decrease to less than 1% on December 6, 2021, and 21A a